<section id="banner-sobre">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-6 background-light-pink text-center espacamento-banner">
                <span>Creative Things</span>
                <h3>LOREM IPSUM APOND BLABLA</h3>
                <p>Let’s start 2021 Backcolor</p>
                <p>GET START</p>
            </div>
        </div>

    </div>
</section>
