<!---card---->
<section style="height: 600px;">
    <div class="container">
        <div class="row justify-content-center">
            @*<div class="col-12">
                    <h2 class="home-main-title py-4">Turismo</h2>
                </div>*@

            <div class="col-md-4">

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/assets/images/sobrecard.png" alt="Imagem de Perfil 1" class="w-100">
                        </div>
                        <div class="flip-card-back text-center" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/assets/images/sobrecard.png);">
                            <h3 class="text-left">DOLOR SIT</h3>
                            <p class="text-left">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus
                                velit dui aliquet dictumst. dolor sit amet, consectetur adipiscing elit
                            </p>
                            <a href="#" class="btn btn-default">Map</a>
                        </div>
                    </div>
                </div>                

            </div>

            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/assets/images/vibescard.png" alt="Imagem de Perfil 1" class="w-100">
                        </div>
                        <div class="flip-card-back text-center" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/assets/images/vibescard.png); ">
                            <h3 class="text-left">DOLOR SIT</h3>
                            <p class="text-left">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus
                                velit dui aliquet dictumst. dolor sit amet, consectetur adipiscing elit
                            </p>
                            <a href="#" class="btn btn-default">Map</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/assets/images/ribeirao.png" alt="Imagem de Perfil 1" class="w-100">
                        </div>
                        <div class="flip-card-back text-center" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/assets/images/ribeirao.png); ">
                            <h3 class="text-left">DOLOR SIT</h3>
                            <p class="text-left">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus
                                velit dui aliquet dictumst. dolor sit amet, consectetur adipiscing elit
                            </p>
                            <a href="#" class="btn btn-default">Map</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>