<section id="banner-sobre">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-6 background-light-pink text-center espacamento-banner">
                <span>Creative Things</span>
                <h3>LOREM IPSUM APOND BLABLA</h3>
                <p>Let’s start 2021 Backcolor</p>
                <p>GET START</p>
            </div>
        </div>

    </div>
</section>


<section id="meio-sobre">
    <div class="container">

        <div class="row justify-content-center">
            <div>
                <img src="~/assets/images/7.jpg" class="imagem7" />
                <div class="textmeio">
                    <h1 class="firsth1">
                        Lorem ipsum
                    </h1>

                    <h3 class="text-meio-h3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </h3>
                    <p class=" p1textmeio">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin sed porta pellentesque adipiscing et diam leo elit. Ac nisi ornare tellus magna hac ac leo dui aenean.
                    </p>

                    <p class="p2textomeio">
                        Vitae turpis justo, amet pharetra sit. Turpis sed elit pretium in elit volutpat. Nulla faucibus lobortis pulvinar lorem mi velit molestie. Duis euismod ut volutpat arcu rhoncus.

                    </p>
                </div>
            </div>
        </div>


    </div>

</section>

<section id="texto-meio2">
    <div class="container">

        <div class="row justify-content-center">
            <div>
                
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sollicitudin sed porta pellentesque adipiscing et diam leo elit. Ac nisi ornare tellus magna hac ac leo dui aenean.
                    Vitae turpis justo, amet pharetra sit. Turpis sed elit pretium in elit volutpat.
                    Nulla faucibus lobortis pulvinar lorem mi velit molestie. Duis euismod ut volutpat arcu rhoncus.
                </p>


                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin sed porta pellentesque adipiscing et diam leo elit. Ac nisi ornare tellus magna hac ac leo dui aenean.</p>

            </div>
        </div>

    </div>
</section>


<section id=" imagem-video">
    <div>
        <img src="~/assets/images/video.png" class="img-video" />


    </div>
</section>

<!---card---->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="turismotxt"> Turismo </h3>
            <div class="col-12">

            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/assets/images/fundocard.png" class="card-img-top" alt="Imagem de Perfil 1">
                    <div class="card-body">
                        <h5 class="card-title">DOLOR SIT</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus velit dui aliquet dictumst. dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="~/assets/images/sobrecard.png" class="card-img-top" alt="Imagem de Perfil 2">
                    <div class="card-body">


                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="~/assets/images/vibescard.png" class="card-img-top" alt="Imagem de Perfil 3">
                    <div class="card-body">

                    </div>
                </div>
            </div>

        </div>

    </div>

</section>