<section id="banner-sobre">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-6 background-light-pink text-center espacamento-banner">
                <span>Creative Things</span>
                <h3>LOREM IPSUM APOND BLABLA</h3>
                <p>Let’s start 2021 Backcolor</p>
                <p>GET START</p>
            </div>
        </div>

    </div>
</section>


<section id="meio-sobre">
    <div class="container">

        <div class="row justify-content-center">
            <div>
                <img src="~/assets/images/7.jpg" class="imagem7" />
                <div class="textmeio">
                    <h1 class="firsth1">
                        Lorem ipsum
                    </h1>

                    <h3 class="text-meio-h3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </h3>
                    <p class=" p1textmeio">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin sed porta pellentesque adipiscing et diam leo elit. Ac nisi ornare tellus magna hac ac leo dui aenean.
                    </p>

                    <p class="p2textomeio">
                        Vitae turpis justo, amet pharetra sit. Turpis sed elit pretium in elit volutpat. Nulla faucibus lobortis pulvinar lorem mi velit molestie. Duis euismod ut volutpat arcu rhoncus.

                    </p>
                </div>
            </div>
        </div>


    </div>

</section>

<section id="texto-meio2">
    <div class="container">

        <div class="row justify-content-center">

            <div>
                <p class="icon-sobre">
                    <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5157 0.932331C26.8853 0.808312 27.2853 0.800307 27.6598 0.909435C28.0343 1.01856 28.3645 1.23937 28.6044 1.541L41.7294 18.041C41.9855 18.3628 42.1245 18.7589 42.1245 19.1667C42.1245 19.5744 41.9855 19.9705 41.7294 20.2923L28.6044 36.7923C28.3645 37.0936 28.0343 37.3142 27.6599 37.4231C27.2856 37.532 26.8858 37.524 26.5164 37.4C26.147 37.276 25.8264 37.0424 25.5993 36.7316C25.3723 36.4209 25.2502 36.0486 25.2501 35.6667V28.3517C15.1644 28.557 10.3194 30.4288 7.88568 32.4638C5.57193 34.398 5.14818 36.6732 4.70755 39.0565L4.59318 39.6707C4.50904 40.1101 4.26355 40.5044 3.90291 40.7793C3.54227 41.0541 3.09134 41.1907 2.63494 41.1632C2.17854 41.1357 1.74815 40.9461 1.42473 40.63C1.10131 40.314 0.907156 39.8932 0.878801 39.447C0.556301 34.409 1.04005 27.1087 4.67943 21.0018C8.21193 15.0747 14.5719 10.517 25.2501 10.0403V2.66666C25.2499 2.28469 25.3719 1.91222 25.5988 1.60128C25.8257 1.29035 26.1462 1.05647 26.5157 0.932331Z" fill="#DDC8BE" />
                    </svg> 
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin sed porta pellentesque adipiscing et diam leo elit. Ac nisi ornare tellus magna hac ac leo dui aenean. Vitae turpis justo, amet pharetra sit. Turpis sed elit pretium in elit volutpat. Nulla faucibus lobortis pulvinar lorem mi velit molestie. Duis euismod ut volutpat arcu rhoncus.
                </p>
            </div>


            <div>
                <p class="icon-sobre">
                    <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5157 0.932331C26.8853 0.808312 27.2853 0.800307 27.6598 0.909435C28.0343 1.01856 28.3645 1.23937 28.6044 1.541L41.7294 18.041C41.9855 18.3628 42.1245 18.7589 42.1245 19.1667C42.1245 19.5744 41.9855 19.9705 41.7294 20.2923L28.6044 36.7923C28.3645 37.0936 28.0343 37.3142 27.6599 37.4231C27.2856 37.532 26.8858 37.524 26.5164 37.4C26.147 37.276 25.8264 37.0424 25.5993 36.7316C25.3723 36.4209 25.2502 36.0486 25.2501 35.6667V28.3517C15.1644 28.557 10.3194 30.4288 7.88568 32.4638C5.57193 34.398 5.14818 36.6732 4.70755 39.0565L4.59318 39.6707C4.50904 40.1101 4.26355 40.5044 3.90291 40.7793C3.54227 41.0541 3.09134 41.1907 2.63494 41.1632C2.17854 41.1357 1.74815 40.9461 1.42473 40.63C1.10131 40.314 0.907156 39.8932 0.878801 39.447C0.556301 34.409 1.04005 27.1087 4.67943 21.0018C8.21193 15.0747 14.5719 10.517 25.2501 10.0403V2.66666C25.2499 2.28469 25.3719 1.91222 25.5988 1.60128C25.8257 1.29035 26.1462 1.05647 26.5157 0.932331Z" fill="#DDC8BE" />
                    </svg>
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin sed porta pellentesque adipiscing et diam leo elit. Ac nisi ornare tellus magna hac ac leo dui aenean.
                </p>
            </div>



        </div>

    </div>
</section>

<section id=" imagem-video">
    <div>
        <img src="~/assets/images/video.png" class="img-video" />


    </div>
</section>

<!---card---->
<section class="card-section">
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="turismotxt"> Turismo </h3>

            <div class="col-12">

            </div>
            <div class="col-4">
                <div class="wrapper">
                    <div class="card">
                        <img src="~/assets/images/fundocard.png" class="card-img-top" alt="Imagem de Perfil 1">
                        <div class="card-img-overlay">
                            <div class="info">
                                <h5 class="card-text">DOLOR SIT</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus velit dui aliquet dictumst. dolor sit amet, consectetur adipiscing elit</p>
                                <a href="#" class="btn">Map</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="wrapper">
                    <div class="card">
                        <img src="~/assets/images/sobrecard.png" class="card-img-top" alt="Imagem de Perfil 2">
                        <div class="card-img-overlay">
                            <div class="info">
                            <h5 class="card-text">DOLOR SIT</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus velit dui aliquet dictumst. dolor sit amet, consectetur adipiscing elit</p>
                            <a href="#" class="btn">Map</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

            <div class="col-4">
                <div class="wrapper">
                    <div class="card">
                        <img src="~/assets/images/vibescard.png" class="card-img-top" alt="Imagem de Perfil 3">
                        <div class="card-img-overlay">
                            <div class="info">
                                <h5 class="card-text    ">DOLOR SIT</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus velit dui aliquet dictumst. dolor sit amet, consectetur adipiscing elit</p>
                                <a href="#" class="btn">Map</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>






            </div>

    </div>

</section>