<section class="cards">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carousel-card" class="owl-carousel">
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/assets/images/1.jpg" alt="img1" />
                            <h5 class="home-card-title">R$980,00</h5>
                            <div class="row">
                                <div class="col-8">
                                    <p>Excelente</p>
                                    <p>(100 Avaliações)</p>
                                </div>
                                <div class="col-4">
                                    <p> <i class="fas fa-bed"></i> 1</p>
                                    <p> <i class="fas fa-bath"></i> 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-nome">Reserve Agora</div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/assets/images/2.jpg" alt="img2" />
                            <h5 class="home-card-title">R$390,00</h5>
                            <div class="row">
                                <div class="col-8">
                                    <p>Excelente</p>
                                    <p>(100 Avaliações)</p>
                                </div>
                                <div class="col-4">
                                    <p> <i class="fas fa-bed"></i> 1</p>
                                    <p> <i class="fas fa-bath"></i> 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-nome">Reserve Agora</div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/assets/images/3.jpg" alt="img3" />
                            <h5 class="home-card-title">R$620,00</h5>
                            <div class="row">
                                <div class="col-8">
                                    <p>Excelente</p>
                                    <p>(100 Avaliações)</p>
                                </div>
                                <div class="col-4">
                                    <p> <i class="fas fa-bed"></i> 1</p>
                                    <p> <i class="fas fa-bath"></i> 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-nome">Reserve Agora</div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/assets/images/4.jpg" alt="img4" />
                            <h5 class="home-card-title">R$280,00</h5>
                            <div class="row">
                                <div class="col-8">
                                    <p>Excelente</p>
                                    <p>(100 Avaliações)</p>
                                </div>
                                <div class="col-4">
                                    <p> <i class="fas fa-bed"></i> 1</p>
                                    <p> <i class="fas fa-bath"></i> 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-nome">Reserve Agora</div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/assets/images/new5.jpg" alt="img5" />
                            <h5 class="home-card-title">R$490,00</h5>
                            <div class="row">
                                <div class="col-8">
                                    <p>Excelente</p>
                                    <p>(100 Avaliações)</p>
                                </div>
                                <div class="col-4">
                                    <p> <i class="fas fa-bed"></i> 1</p>
                                    <p> <i class="fas fa-bath"></i> 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-nome">Reserve Agora</div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/assets/images/6.jpeg" alt="img6" />
                            <h5 class="home-card-title">R$520,00</h5>
                            <div class="row">
                                <div class="col-8">
                                    <p>Excelente</p>
                                    <p>(100 Avaliações)</p>
                                </div>
                                <div class="col-4">
                                    <p> <i class="fas fa-bed"></i> 1</p>
                                    <p> <i class="fas fa-bath"></i> 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-nome">Reserve Agora</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>