@model List<PIM.Site.Models.QuartosViewModel>

<section class="cards">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carousel-card" class="owl-carousel">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class="shadow-effect">
                                <img class="img-circle" src="~/assets/images/quartos/@{@item.Img_quarto}.jpg " alt="@item.Nome_quarto" />
                                <div class="row px-2">
                                    <div class="col-md-6 text-left">
                                        <h2 class="home-card-title">R$@item.Valor_quarto</h2>
                                        <h4 class="text-dark">@item.Nome_quarto</h4>
                                    </div>
                                    <div class="col-md-6 text-md-right text-left text-dark d-flex flex-column justify-content-end">
                                        <p> <i class="fas fa-bed"></i> @item.Quantia_camas</p>
                                        <p> <i class="fas fa-bath"></i> @item.Quantia_banheiros</p>
                                    </div>
                                    <div class="col-12 pt-4">
                                        <a href="javascript:void(0)" class="btn btn-default text-uppercase">Reserve Agora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>