<section id="img-Selecionar-Quarto">
    <div class="row">
        <div class="col-md-12">
            <div class="imagem-fundo" style="background-image: url(/assets/images/3.jpg);">
                <div class="col-md-6">
                    <h2>Escolha o seu</h2>
                </div>
                <div class="col-md-6">
                    <h3>Quarto</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Check-area" style="background-color: #4B5B5B">
    <div class="container">
        <div class="row text-black-50">
            <div class="col-md-3">
                <div class="check-body">
                    <p>
                        <h5>Check-in</h5>
                        <i class="far fa-calendar-alt"></i>
                        <input id="date" type="date">
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="check-body">
                    <p>
                        <h5>Check-Out</h5>
                        <i class="far fa-calendar-alt"></i>
                        <input id="date" type="date">
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="check-body">
                    <p>
                        <h5>Hospedes</h5>
                        <h6><i class="far fa-calendar-alt"></i>  1 Quarto, 2 Adultos, 0 Crianças</h6>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="conteudo">
        <div id="conteudo-esquerda">
            <div class="card">
                <div class="card-header">
                    <input type="text" name="text-Pesquisa" id="text-Pesquisa" placeholder="Pesquisa" autofocus required /> <br>
                </div>
                <div class="card-body">
                    <h6>Promoções</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Cancelamento Grátis
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Reserve agora, pague quando chegar
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                        <label class="form-check-label" for="flexRadioDefault3">
                            Pacotes da Semana
                        </label>
                    </div>
                </div>
                <div class="card-body">
                    <h6>Preço</h6>
                    <label for="customRange1" class="form-label">R$ 0 - R$ 1.100</label> <br />
                    <input type="range" class="form-range" id="customRange1" min="0" max="1100"> <br />
                    <input type="text" name="text-Diaria" id="text-Diaria" placeholder="Diaria" /> <br>
                </div>
                <div class="card-body">
                    <h6>Tipos de Quarto</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefaultQuarto" id="flexRadioDefaultQuarto1">
                        <label class="form-check-label" for="flexRadioDefaultQuarto1">
                            Luxuoso
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefaultQuarto" id="flexRadioDefaultQuarto2" checked>
                        <label class="form-check-label" for="flexRadioDefaultQuarto2">
                            Econômico
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefaultQuarto" id="flexRadioDefaultQuarto3" checked>
                        <label class="form-check-label" for="flexRadioDefaultQuarto3">
                            Familia
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefaultQuarto" id="flexRadioDefaultQuarto4" checked>
                        <label class="form-check-label" for="flexRadioDefaultQuarto4">
                            Fumante
                        </label>
                    </div>
                </div>
                <div class="card-body">
                    <h6>Serviços</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefaultServico" id="flexRadioDefaultServico1" checked>
                        <label class="form-check-label" for="flexRadioDefaultServico1">
                            Café da Manhã
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefaultServico" id="flexRadioDefaultServico2">
                        <label class="form-check-label" for="flexRadioDefaultServico2">
                            Banheira de Hidromassagem
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefaultServico" id="flexRadioDefaultServico3">
                        <label class="form-check-label" for="flexRadioDefaultServico3">
                            Estacionamento Gratuito
                        </label>
                    </div>
                    <button type="button" class="btn btn-light" style="font-weight:bold">Mostrar Mais</button>
                </div>
                <div class="card-body">
                    <h6>Pontuação</h6>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefaultPonto" id="flexRadioDefaultPonto1" checked>
                        <label class="form-check-label" for="flexRadioDefaultPonto1">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefaultPonto" id="flexRadioDefaultPonto2">
                        <label class="form-check-label" for="flexRadioDefaultPonto2">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefaultPonto" id="flexRadioDefaultPonto3">
                        <label class="form-check-label" for="flexRadioDefaultPonto3">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefaultPonto" id="flexRadioDefaultPonto4">
                        <label class="form-check-label" for="flexRadioDefaultPonto4">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefaultPonto" id="flexRadioDefaultPonto5">
                        <label class="form-check-label" for="flexRadioDefaultPonto5">
                            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <div id="conteudo-direita">
            <div class="row">
                <div class="col-md-6">
                    <h6 style="padding-top:5%; padding-left:2%">
                        120 de 350 quartos correpondem aos seus filtros
                    </h6>
                    <button type="button" class="btn btn-light" style="font-weight:bold">Limpar todos os filtros</button>
                </div>
                <div class="col-md-6">
                    <label style="padding-top:5%"> Ordenar por: </label>
                    <select id="ordenar" name="ordenar">
                        <option value="Classificacao">Classificação</option>
                        <option value="CustoBeneficio">Custo Beneficio</option>
                        <option value="MenorPreco">Menor Preço</option>
                    </select>
                </div>
                <div style="padding-top:3%">
                    <div class="card mb-3" style="padding-top:2%;">
                        <div class="col-md-12">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="/assets/images/2.jpg" class="img-fluid rounded-start" alt="Quarto" style="height:90%">
                                </div>
                                <div class="col-md-2">
                                    <div class="card-body">
                                        <h5 class="card-title">Executive Prime</h5>
                                        <p class="quarto-preco">R$ 980,00</p>
                                        <button type="button" class="btn btn-secondary">Reserve agora</button>
                                        <p></p>
                                        <p style="font-weight:bold"><i class="fas fa-bed"> 1 </i><i class="fas fa-bath"> 1 </i><i class="fas fa-smoking"> 1</i> </p>
                                        <p class="card-text"><small class="text-muted"><i class="fas fa-check"></i> Cancelamento grátis</small></p>
                                        <p class="card-text"><small class="text-muted"><i class="fas fa-check"></i> Café da manhã</small></p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-body">
                                        <div id="carousel-card" class="owl-carousel">
                                            <div class="item-texto">
                                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et aenean et faucibus pellentesque cras sapien. Proin augue neque pharetra dignissim sit porta tristique at. Amet turpis molestie mauris, lectus mattis magna facilisis. Ultrices scelerisque enim varius nisl consectetur risus tincidunt elementum.”</p>
                                            </div>
                                            <div class="item-texto">
                                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et aenean et faucibus pellentesque cras sapien. Proin augue neque pharetra dignissim sit porta tristique at. Amet turpis molestie mauris, lectus mattis magna facilisis. Ultrices scelerisque enim varius nisl consectetur risus tincidunt elementum.”</p>
                                            </div>
                                            <div class="item-texto">
                                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et aenean et faucibus pellentesque cras sapien. Proin augue neque pharetra dignissim sit porta tristique at. Amet turpis molestie mauris, lectus mattis magna facilisis. Ultrices scelerisque enim varius nisl consectetur risus tincidunt elementum.”</p>
                                            </div>
                                            <div class="item-texto">
                                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et aenean et faucibus pellentesque cras sapien. Proin augue neque pharetra dignissim sit porta tristique at. Amet turpis molestie mauris, lectus mattis magna facilisis. Ultrices scelerisque enim varius nisl consectetur risus tincidunt elementum.”</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


