@{
    Layout = "~/Views/Layout/_LayoutSecundario.cshtml";
}


<section class="section-log">
        <div class="row justify-content-center">
            <div class="col-12 d-flex flex-column align-items-end">
                <div class="top-logo"><img src="~/assets/images/logo.png" class="w-100"/></div>
                <div class="user-log">
                    <form class="form-log">
                        <div class="row">
                            <div class="col-12">
                                <label for="name" style="display: block">Nome Usuário</label>
                                <input type="text" id="name" />
                                <div class="icons-log"><i class="fas fa-user"></i></div>
                            </div>

                            <div class="col-12 input-container">
                                <label for="password" style="display: block">Senha</label>
                                <input type="text" id="password" />
                                <div class="icons-log"><i class="fas fa-shield-alt"></i></div>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12 d-flex justify-content-end m-0 p-0 text-white">
                                <a class="btn background-primary pt-2">Entrar</a>
                            </div>
                        </div>
                    </form>
                    <div class="container-fluid">
                        <div class="row py-2" style="background-color: #4B5B5B;">
                            <div class="col-12 text-right text-white">
                                <p class="m-0">
                                    <i class="fab fa-instagram pr-1"></i>
                                    <i class="fab fa-linkedin pr-1"></i>
                                    <i class="fab fa-facebook pr-1"></i>
                                    <i class="fab fa-youtube pr-1"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>