<section id="viagens" class="img-fundo" style="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.9)), url(/assets/images/cidade.jpg); background-size: cover; background-position: center; ">
    <div class="container-fluid">
        <div class="row body-vistas">
            <div class="container">
                <div class="row align-items-center">
                    <i class="fas fa-binoculars"></i>
                    <div class="col-md-8">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Molestie nulla vestibulum lacus at pretium, aliquet porta dictumst nisi.
                        </p>
                    </div>
                </div>
               
            </div>
        </div>

        <div class="row body-viagem">
            <div class="container">
                <div class="row justify-content-md-center align-items-center">
                    <i class="fas fa-plane"></i>
                    <div class="col-md-8">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Molestie nulla vestibulum lacus at pretium, aliquet porta dictumst nisi.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row body-trens">
            <div class="container">
                <div class="row justify-content-md-end align-items-center">
                    <i class="fas fa-subway"></i>
                    <div class="col-md-8">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Molestie nulla vestibulum lacus at pretium, aliquet porta dictumst nisi.
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>
