<section>
    <div id="homeServicos">
        <div class="img-fundo" style="background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.9)), url(/assets/images/quality-hotel-afonso.jpg); background-size: cover; background-position: center; ">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="home-main-title">Serviços</h3>
                    </div>
                    <div class="col-md-4 service-box">
                        <div class="d-flex flex-row align-items-center justify-content-center">
                            <img class="position-relative" src="~/assets/images/helpers/elipse-1.png" />
                            <i class="fas fa-bed position-absolute"></i>
                        </div>
                        <h4>Serviços de quarto</h4>
                        <p> Utilizamos dos melhores atendimentos, Os melhores funcionarios, e todas as comididades que você e sua familia merecem.</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <div class="d-flex flex-row align-items-center justify-content-center">
                            <img class="position-relative" src="~/assets/images/helpers/elipse-2.png" />
                            <i class="fas fa-mug-hot position-absolute"></i>
                        </div>
                        <h4>Refeições deliciosas</h4>
                        <p> Empregamos chefes de diversos lugares do mundo, para proporcionar um amplo cardápio para nossos clientes.</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <div class="d-flex flex-row align-items-center justify-content-center">
                            <img class="position-relative" src="~/assets/images/helpers/elipse-1.png" />
                            <i class="fas fa-tshirt position-absolute"></i>
                        </div>
                        <h4>Lavagem de roupas</h4>
                        <p> Utilizamos dos melhores equipamentos de lavagem, funcionarios treinados para o melhor cuidado com suas roupas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
