<partial name="_BannerPrincipal" />

<partial name="_Servicos" />

<vc:carousel-quartos></vc:carousel-quartos>


<section id="cta" class="background-primary py-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center text-white">
                <h2 class="display-4 text-white">Hotel Cecil</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Tellus tempus purus, sed phasellus gravida.
                </p>                
            </div>
            <div class="col-md-6 text-center">
                <a class="btn btn-default text-uppercase">Reservar</a>
            </div>
        </div>
    </div>
</section>

<partial name="_Facilidades" />