
<section>
    <div class="scrollspy">
        <div id="Slidep" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000">
            <ol class="carousel-indicators indinicio">
                <li data-target="#Slidep" data-slide-to="0" class="active"></li>
                <li data-target="#Slidep" data-slide-to="1"></li>
                <li data-target="#Slidep" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item inicio active" style="background-image:url(/assets/images/1.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="caixa">
                                <div class="texto">
                                    <h2>Lorem ipsum</h2>
                                    <p>ipsum commodo bibendum ultricies mattis ipsum commodo bibendum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item inicio" style="background-image:url(/assets/images/6.jpeg);">
                    <div class="container">
                        <div class="row">
                            <div class="caixa">
                                <div class="texto">
                                    <h2>Lorem ipsum</h2>
                                    <p>ipsum commodo bibendum ultricies mattis ipsum commodo bibendum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item inicio" style="background-image:url(/assets/images/7.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="caixa">
                                <div class="texto">
                                    <h2>Lorem ipsum</h2>
                                    <p>ipsum commodo bibendum ultricies mattis ipsum commodo bibendum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#Slidep" class="carousel-control-prev" role="button" data-slide="prev">
                <span aria-hidden="true"><i class="far fa-arrow-alt-circle-left" style="font-size: 30px; color: white"></i></span>
                <span class="sr-only">Previous</span>
            </a>
            <a href="#Slidep" class="carousel-control-next" role="button" data-slide="next">
                <span aria-hidden="true"><i class="far fa-arrow-alt-circle-right" style="font-size: 30px; color: white;"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<section>
    <div id="homeServicos">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="home-main-title">Serviços</h3>
                </div>
                <div class="col-md-4 service-box">
                    <i class="fas fa-bed"></i>
                    <h4>Serviços de quarto</h4>
                    <p> Utilizamos dos melhores atendimentos, Os melhores funcionarios, e todas as comididades que você e sua familia merecem.</p>
                </div>
                <div class="col-md-4 service-box">
                    <i class="fas fa-mug-hot"></i>
                    <h4>Refeições deliciosas</h4>
                    <p> Empregamos chefes de diversos lugares do mundo, para proporcionar um amplo cardápio para nossos clientes.</p>
                </div>
                <div class="col-md-4 service-box">
                    <i class="fas fa-tshirt"></i>
                    <h4>Lavagem de roupas</h4>
                    <p> Utilizamos dos melhores equipamentos de lavagem, funcionarios treinados para o melhor cuidado com suas roupas.</p>
                </div>
            </div>
        </div>
    </div>
</section>




@*<section id="carousel-card">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-card-indicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-card-indicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-card-indicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="~/assets/images/1.jpg" alt="img1" /></div>
                                    <div class="img-text">
                                        <h2>Slide 1</h2>
                                        <p>Teste, e mais testes</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="~/assets/images/2.jpg" alt="img2" /></div>
                                    <div class="img-text">
                                        <h2>Slide 2</h2>
                                        <p>Teste, e mais testes</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="~/assets/images/3.jpg" alt="img2" /></div>
                                    <div class="img-text">
                                        <h2>Slide 3</h2>
                                        <p>Teste, e mais testes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="~/assets/images/4.jpg" alt="img4" /></div>
                                    <div class="img-text">
                                        <h2>Slide 4</h2>
                                        <p>Teste, e mais testes</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="~/assets/images/new5.jpg" alt="img5" /></div>
                                    <div class="img-text">
                                        <h2>Slide 5</h2>
                                        <p>Teste, e mais testes</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <img src="/assets/images/4.jpg" class="card-img-top" alt="...">
                                    <div class="home-card-body">
                                        <h5 class="home-card-title">R$ 620</h5>
                                        <text class="home-card-text">Luxo</text>
                                        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                                        <a href="#" class="btn btn-primary">Reserve agora</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

@*<div class="col-md-4">
        <div class="card">
            <img src="/assets/images/4.jpg" class="card-img-top" alt="...">
            <div class="home-card-body">
                <h5 class="home-card-title">R$ 620</h5>
                <text class="home-card-text">Luxo</text>
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                <a href="#" class="btn btn-primary">Reserve agora</a>
            </div>
        </div>
</div>*@
@*<div class="card">
        <div class="card-body-reservar">
            <h5 class="card-title-reservar">Hotel Cecil</h5>
            <p class="card-text-reservar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus tempus purus, sed phasellus gravida. </p>
            <a href="#" class="btn-primary-reservar">Reservar</a>
        </div>
    </div>
    <div id="cads-laterais">
        <div class="card">
            <div class="card-body-vistas">
                <p>
                    <i class="fas fa-binoculars"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Molestie nulla vestibulum lacus at pretium, aliquet porta dictumst nisi.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body-viagem">
            <p>
                <i class="fas fa-plane"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Molestie nulla vestibulum lacus at pretium, aliquet porta dictumst nisi.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body-trens">
            <p>
                <i class="fas fa-subway"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Molestie nulla vestibulum lacus at pretium, aliquet porta dictumst nisi.
            </p>
        </div>
    </div>*@