
<section>
    <div class="scrollspy">
        <div id="Slidep" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000">
            <ol class="carousel-indicators indinicio">
                <li data-target="#Slidep" data-slide-to="0" class="active"></li>
                <li data-target="#Slidep" data-slide-to="1"></li>
                <li data-target="#Slidep" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item inicio active" style="background-image:url(/assets/images/1.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="caixa">
                                <div class="texto">
                                    <h2>Hotel Cecil</h2>
                                    <p>“O sucesso nasce do querer, da determinação e persistência em se chegar a um objetivo.
                                    Mesmo não atingindo o alvo, quem busca e vence obstáculos, no mínimo fará coisas admiráveis” – José de Alencar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item inicio" style="background-image:url(/assets/images/6.jpeg);">
                    <div class="container">
                        <div class="row">
                            <div class="caixa">
                                <div class="texto">
                                    <h2>Seja bem vindo!</h2>
                                    <p> “Se você quer ser bem-sucedido precisa de dedicação total, 
                                    buscar seu último limite e dar o melhor de si mesmo” – Ayrton Senna</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item inicio" style="background-image:url(/assets/images/7.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="caixa">
                                <div class="texto">
                                    <h2>Aproveite os momentos</h2>
                                    <p>“Não crie limites para si mesmo. 
                                    Você deve ir tão longe quanto sua mente permitir. 
                                    O que você mais quer pode ser conquistado” – Mary Kay Ash</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#Slidep" class="carousel-control-prev" role="button" data-slide="prev">
                <span aria-hidden="true"><i class="far fa-arrow-alt-circle-left" style="font-size: 30px; color: white"></i></span>
                <span class="sr-only">Previous</span>
            </a>
            <a href="#Slidep" class="carousel-control-next" role="button" data-slide="next">
                <span aria-hidden="true"><i class="far fa-arrow-alt-circle-right" style="font-size: 30px; color: white;"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<section>
    <div id="homeServicos">
        <div class="img-fundo" style="background-image: url(/assets/images/back-quality.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="home-main-title">Serviços</h3>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-bed"></i>
                        <h4>Serviços de quarto</h4>
                        <p> Utilizamos dos melhores atendimentos, Os melhores funcionarios, e todas as comididades que você e sua familia merecem.</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-mug-hot"></i>
                        <h4>Refeições deliciosas</h4>
                        <p> Empregamos chefes de diversos lugares do mundo, para proporcionar um amplo cardápio para nossos clientes.</p>
                    </div>
                    <div class="col-md-4 service-box">
                        <i class="fas fa-tshirt"></i>
                        <h4>Lavagem de roupas</h4>
                        <p> Utilizamos dos melhores equipamentos de lavagem, funcionarios treinados para o melhor cuidado com suas roupas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cards">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carousel-card" class="owl-carousel">
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/assets/images/1.jpg" alt="img1" />
                            <h5 class="home-card-title">R$980,00</h5>
                            <div class="row">
                                <div class="col-8">
                                    <p>Excelente</p>
                                    <p>(100 Avaliações)</p>
                                </div>
                                <div class="col-4">
                                    <p> <i class="fas fa-bed"></i> 1</p>
                                    <p> <i class="fas fa-bath"></i> 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-nome">Reserve Agora</div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/assets/images/2.jpg" alt="img2" />
                            <h5 class="home-card-title">R$390,00</h5>
                            <div class="row">
                                <div class="col-8">
                                    <p>Excelente</p>
                                    <p>(100 Avaliações)</p>
                                </div>
                                <div class="col-4">
                                    <p> <i class="fas fa-bed"></i> 1</p>
                                    <p> <i class="fas fa-bath"></i> 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-nome">Reserve Agora</div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/assets/images/3.jpg" alt="img3" />
                            <h5 class="home-card-title">R$620,00</h5>
                            <div class="row">
                                <div class="col-8">
                                    <p>Excelente</p>
                                    <p>(100 Avaliações)</p>
                                </div>
                                <div class="col-4">
                                    <p> <i class="fas fa-bed"></i> 1</p>
                                    <p> <i class="fas fa-bath"></i> 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-nome">Reserve Agora</div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/assets/images/4.jpg" alt="img4" />
                            <h5 class="home-card-title">R$280,00</h5>
                            <div class="row">
                                <div class="col-8">
                                    <p>Excelente</p>
                                    <p>(100 Avaliações)</p>
                                </div>
                                <div class="col-4">
                                    <p> <i class="fas fa-bed"></i> 1</p>
                                    <p> <i class="fas fa-bath"></i> 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-nome">Reserve Agora</div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/assets/images/new5.jpg" alt="img5" />
                            <h5 class="home-card-title">R$490,00</h5>
                            <div class="row">
                                <div class="col-8">
                                    <p>Excelente</p>
                                    <p>(100 Avaliações)</p>
                                </div>
                                <div class="col-4">
                                    <p> <i class="fas fa-bed"></i> 1</p>
                                    <p> <i class="fas fa-bath"></i> 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-nome">Reserve Agora</div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/assets/images/6.jpeg" alt="img6" />
                            <h5 class="home-card-title">R$520,00</h5>
                            <div class="row">
                                <div class="col-8">
                                    <p>Excelente</p>
                                    <p>(100 Avaliações)</p>
                                </div>
                                <div class="col-4">
                                    <p> <i class="fas fa-bed"></i> 1</p>
                                    <p> <i class="fas fa-bath"></i> 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-nome">Reserve Agora</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="card-body-reservar">
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title-reservar">Hotel Cecil</h5>
                <p class="card-text-reservar">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Tellus tempus purus, sed phasellus gravida.
                </p>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-secondary">Reservar</button>
            </div>
        </div>
    </div>
</section>
<section id="viagens">
    <div class="row">
        <div class="col-md-12">
            <div class="body-vistas">
                <p>
                    <i class="fas fa-binoculars"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Molestie nulla vestibulum lacus at pretium, aliquet porta dictumst nisi.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="body-viagem">
                <p>
                    <i class="fas fa-plane"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Molestie nulla vestibulum lacus at pretium, aliquet porta dictumst nisi.
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="body-trens">
                <p>
                    <i class="fas fa-subway"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Molestie nulla vestibulum lacus at pretium, aliquet porta dictumst nisi.
                </p>
            </div>
        </div>
    </div>
</section>