
<div class="container-fluid">
    <div id="homeCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <li data-target="#homeCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/assets/images/1.jpg" class="d-block w-100" alt="Faixada de entrada" />
                <div class="carousel-caption d-none d-md-block">
                    <h2>Bem vindo!</h2>
                    <p>Venha conhecer nossos pacotes</p>
                    <a href="#" class="main-btn">Ver portfolio</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/assets/images/cidade-a-noite.jpg" class="d-block w-100" alt="Saguao" />
                <div class="carousel-caption d-none d-md-block">
                    <h2>Vistas inesqueciveis!</h2>
                    <p>Aqui você irá encontrar o melhor atendimento</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/assets/images/7.jpg" class="d-block w-100" alt="Entrada" />
                <div class="carousel-caption d-none d-md-block">
                    <h2>Faça sua reserva</h2>
                    <p>E curta sua estadia</p>
                </div>
            </div>
        </div>
        <a href="#homeCarousel" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a href="#homeCarousel" class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Proximo</span>
        </a>
    </div>
    <div id="homeServicos">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="main-title">Serviços</h3>
                </div>
                <div class="col-md-4 service-box">
                    <i class="fas fa-bed"></i>
                    <h4>Serviços de quarto</h4>
                    <p> Utilizamos dos melhores atendimentos, Os melhores funcionarios, e todas as comididades que você e sua familia merecem.</p>
                </div>
                <div class="col-md-4 service-box">
                    <i class="fas fa-mug-hot"></i>
                    <h4>Refeições deliciosas</h4>
                    <p> Empregamos chefes de diversos lugares do mundo, para proporcionar um amplo cardápio para nossos clientes.</p>
                </div>
                <div class="col-md-4 service-box">
                    <i class="fas fa-tshirt"></i>
                    <h4>Lavagem de roupas</h4>
                    <p> Utilizamos dos melhores equipamentos de lavagem, funcionarios treinados para o melhor cuidado com suas roupas.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="homeQuartos">
        <div class="row">
            <div class="col-12">
                <h3 class="home-main-title">Quartos</h3>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/assets/images/2.jpg" class="card-img-top" alt="card1">
                    <div class="home-card-body">
                        <h5 class="home-card-title">R$ 980</h5>
                        <text class="home-card-text">Presidencial</text>
                        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        <a href="#" class="btn btn-primary">Reserve agora</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="~/assets/images/3.jpg" class="card-img-top" alt="...">
                    <div class="home-card-body">
                        <h5 class="home-card-title">R$ 390</h5>
                        <text class="home-card-text"> Duplo Solteiros</text>
                        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></p>
                        <a href="#" class="btn btn-primary">Reserve agora</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/assets/images/4.jpg" class="card-img-top" alt="...">
                    <div class="home-card-body">
                        <h5 class="home-card-title">R$ 620</h5>
                        <text class="home-card-text">Luxo</text>
                        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        <a href="#" class="btn btn-primary">Reserve agora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body-reservar">
            <h5 class="card-title-reservar">Hotel Cecil</h5>
            <p class="card-text-reservar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus tempus purus, sed phasellus gravida. </p>
            <a href="#" class="btn-primary-reservar">Reservar</a>
        </div>
    </div>
    <div id="cads-laterais">
        <div class="card">
            <div class="card-body-vistas">
                <p>
                    <i class="fas fa-binoculars"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Molestie nulla vestibulum lacus at pretium, aliquet porta dictumst nisi.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body-viagem">
            <p>
                <i class="fas fa-plane"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Molestie nulla vestibulum lacus at pretium, aliquet porta dictumst nisi.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body-trens">
            <p>
                <i class="fas fa-subway"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Molestie nulla vestibulum lacus at pretium, aliquet porta dictumst nisi.
            </p>
        </div>
    </div>
</div>