<div id="homeCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/assets/images/1.jpg" class="d-block w-100" alt="Faixada de entrada" />
            <div class="carousel-caption d-none d-md-block">
                <h2>Bem vindo!</h2>
                <p>Venha conhecer nossos pacotes</p>
                <a href="#" class="main-btn">Ver portfolio</a>
            </div>
        </div>
        @*<div class="carousel-item">
            <img src="~/assets/images/cidade-a-noite.jpg" class="d-block w-100" alt="Saguao" />
            <div class="carousel-caption d-none d-md-block">
                <h2>Vistas inesqueciveis!</h2>
                <p>Aqui você irá encontrar o melhor atendimento</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/assets/images/7.jpg" class="d-block w-100" alt="Entrada" />
            <div class="carousel-caption d-none d-md-block">
                <h2>Faça sua reserva</h2>
                <p>E curta sua estadia</p>
            </div>
        </div>*@
    </div>
    <a href="#homeCarousel" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a href="#homeCarousel" class="carousel-control-next" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Proximo</span>
    </a>
</div>
