<footer class="footer">
    <section class="footer m-0 background-primary">
        <div class="container">
            <div class="row justify-content-center text-white">
                <div class="col-12">
                    <h3 class="home-main-title text-white">Contato</h3>
                </div>

                <div class="col-md-4 text-center">
                    <i class="fas fa-map-marker-alt" style="font-size: 40px"></i>
                    <p>Endereço</p>
                    <p>Av. Lorem ipsum dolor, 100</p>
                </div>
                <div class="col-md-4 text-center line-around">
                    <i class="fas fa-mobile" style="font-size: 40px"></i>
                    <p>Número</p>
                    <p>+55 (99)99999-9999</p>
                </div>
                <div class="col-md-4 text-center">
                    <i class="fas fa-envelope" style="font-size: 40px"></i>
                    <p>E-mail</p>
                    <p>info@exemple.com.br</p>
                </div>

                <div class="col-12 text-center social-medias pt-5">
                    <p><i class="fab fa-instagram pr-3"></i> 
                    <i class="fab fa-linkedin pr-3"></i>
                    <i class="fab fa-facebook pr-3"></i>
                    <i class="fab fa-youtube pr-3"></i></p>
                </div>
            </div>
        </div>
        <div class="container-fluid background-second">
            <div class="row text-white">
                <div class="col-12 text-center">
                    &copy; Copyright BizPage.<br /> All Rights Reserved
                    Desenvolvido por Grupo PIM
                </div>
            </div>
        </div>
    </section>
</footer>