<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-12 mb-5">
                        <h1 class="mt-5">Executive Prime</h1>
                    </div>
                    <div class="col-md-6">
                        <div style="height: 300px; width: 300px">
                            <img src="~/assets/images/2 2.png" style="width: 100%" />
                        </div>
                        <div class="row" style="margin-top: 35px">
                            <div class="col-4">
                                <h3>Diária</h3>
                                <h3>Reserva</h3>
                                <h3>Total/dia</h3>
                            </div>
                            <div class="col-4">
                                <p>R$ 980,00</p>
                                <p>15 dias</p>
                                <p>R$ 14.700,00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Quartos e serviços</h4>
                        <p>
                            Quarto e serviços: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, lorem urna dui fusce nunc
                        </p>
                        <ol class="mb-5">
                            <li>pellentesque. Egestas varius fermentum</li>
                            <li>pellentesque. Egestas varius fermentum</li>
                        </ol>
                        <h4>Pacote:</h4>
                        <p>
                            Tortor, vitae vel in semper risus. Ornare maecenas nisl nec facilisis amet, mattis morbi
                        </p>
                        <h5>* pagamento antecipado</h5>
                        <div class="row" style="display: flex; justify-content: right; margin-top: 100px">
                            <div class="col-6">
                                <a class="btn w-100 botao">Finalizar Reserva</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
