<vc:banner pagina="servicos"></vc:banner>
<vc:check></vc:check>

<section>
    <div id="conteudo">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6">
                    <div id="conteudo-esquerda">
                        <div class="card">
                            <div class="card-header">
                                <input type="text" name="text-Pesquisa" id="text-Pesquisa" placeholder="Pesquisa" autofocus required /> <br>
                            </div>
                            <div class="card-body">
                                <h6>Preço</h6>
                                <label for="customRange1" class="form-label">R$ 0 - R$ 1.100</label> <br />
                                <input type="range" class="form-range" id="customRange1" min="0" max="1100"> <br />
                                <input type="text" name="text-Diaria" id="text-Diaria" placeholder="Diaria" /> <br>
                            </div>
                            <div class="card-body">
                                <h6>Quantidade de camas</h6>
                                <label for="customRange1" class="form-label">R$ 0 - R$ 1.100</label> <br />
                                <input type="range" class="form-range" id="customRange1" min="0" max="1100"> <br />
                                <input type="text" name="text-Diaria" id="text-Diaria" placeholder="Diaria" /> <br>
                            </div>
                            <div class="card-body">
                                <h6>Quantidade de banheiros</h6>
                                <label for="customRange1" class="form-label">R$ 0 - R$ 1.100</label> <br />
                                <input type="range" class="form-range" id="customRange1" min="0" max="1100"> <br />
                                <input type="text" name="text-Diaria" id="text-Diaria" placeholder="Diaria" /> <br>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-6">
                    <div id="conteudo-direita">
                        <div class="row">
                            <div class="col-md-6">
                                <h6 style="padding-top:5%; padding-left:2%">
                                    120 de 350 quartos correpondem aos seus filtros
                                </h6>
                                <button type="button" class="btn btn-light" style="font-weight:bold">Limpar todos os filtros</button>
                            </div>
                            <div class="col-md-6">
                                <label style="padding-top:5%"> Ordenar por: </label>
                                <select id="ordenar" name="ordenar">                                    
                                    <option value="CustoBeneficio">Maior Preço</option>
                                    <option value="MenorPreco">Menor Preço</option>
                                </select>
                            </div>
                        </div>

                        <vc:quartos-filtro></vc:quartos-filtro>

                    </div>
                </div>

            </div>
        </div>


    </div>
</section>