<section id="icons-info">
    <div class="container">

        <div lass="row justify-content-center">
            <p class="wifi-icon">
                <svg width="85" height="85" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M42.5 71.7188C45.434 71.7188 47.8125 69.3403 47.8125 66.4062C47.8125 63.4722 45.434 61.0938 42.5 61.0938C39.566 61.0938 37.1875 63.4722 37.1875 66.4062C37.1875 69.3403 39.566 71.7188 42.5 71.7188Z" fill="#4B5B5B" />
                    <path d="M27.8109 51.088L31.5668 54.8413C34.5106 52.0381 38.4184 50.4727 42.4832 50.4682C46.5481 50.4638 50.4594 52.0207 53.4092 54.8174L57.1625 51.0641C53.2173 47.2699 47.9549 45.1528 42.4813 45.1577C37.0077 45.1627 31.7492 47.2893 27.8109 51.0906V51.088Z" fill="#4B5B5B" />
                    <path d="M16.5458 39.8246L20.3017 43.5779C26.2303 37.7822 34.1904 34.5349 42.4813 34.53C50.7722 34.525 58.7362 37.7627 64.6717 43.5513L68.425 39.7981C61.4945 33.012 52.1796 29.2138 42.48 29.2188C32.7804 29.2237 23.4693 33.0315 16.5458 39.8246Z" fill="#4B5B5B" />
                    <path d="M79.6875 28.5306C69.7768 18.7586 56.4181 13.2803 42.5 13.2803C28.5819 13.2803 15.2232 18.7586 5.3125 28.5306V28.5916L9.04188 32.321C17.9518 23.5303 29.9635 18.5995 42.4799 18.5945C54.9964 18.5895 67.012 23.5108 75.9289 32.2945L79.6875 28.5359V28.5306Z" fill="#4B5B5B" />
                </svg>
            </p>
            <p class="wifi-text"> Acesso gratuito à Internet </p>


            <p class="food-icon">
                <svg width="73" height="72" viewBox="0 0 73 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M53.6417 35.1894C55.0603 35.207 56.4681 34.9402 57.782 34.4049C59.0958 33.8697 60.2892 33.0767 61.2917 32.0727L71.3146 22.0498C71.9742 21.3862 72.3445 20.4886 72.3445 19.5529C72.3445 18.6173 71.9742 17.7196 71.3146 17.0561C70.9854 16.7241 70.5936 16.4606 70.1621 16.2808C69.7305 16.101 69.2676 16.0084 68.8 16.0084C68.3325 16.0084 67.8696 16.101 67.438 16.2808C67.0064 16.4606 66.6147 16.7241 66.2854 17.0561L56.1563 27.0436C55.827 27.3755 55.4353 27.639 55.0037 27.8188C54.5721 27.9986 54.1092 28.0912 53.6417 28.0912C53.1741 28.0912 52.7112 27.9986 52.2796 27.8188C51.8481 27.639 51.4563 27.3755 51.1271 27.0436L63.6646 14.5415C63.9948 14.2113 64.2568 13.8192 64.4355 13.3878C64.6142 12.9563 64.7062 12.4939 64.7062 12.0269C64.7062 11.5599 64.6142 11.0975 64.4355 10.666C64.2568 10.2346 63.9948 9.84253 63.6646 9.51231C63.3344 9.18209 62.9424 8.92015 62.5109 8.74143C62.0794 8.56272 61.617 8.47074 61.15 8.47074C60.683 8.47074 60.2206 8.56272 59.7891 8.74143C59.3577 8.92015 58.9657 9.18209 58.6354 9.51231L46.1334 22.0498C45.4737 21.3862 45.1035 20.4886 45.1035 19.5529C45.1035 18.6173 45.4737 17.7196 46.1334 17.0561L56.1563 7.03314C56.4865 6.70292 56.7484 6.3109 56.9271 5.87944C57.1059 5.44799 57.1978 4.98556 57.1978 4.51856C57.1978 4.05156 57.1059 3.58913 56.9271 3.15768C56.7484 2.72623 56.4865 2.3342 56.1563 2.00398C55.826 1.67376 55.434 1.41181 55.0026 1.2331C54.5711 1.05439 54.1087 0.962402 53.6417 0.962402C53.1747 0.962402 52.7123 1.05439 52.2808 1.2331C51.8493 1.41181 51.4573 1.67376 51.1271 2.00398L41.1042 12.0269C39.1145 14.0191 37.9969 16.7196 37.9969 19.5352C37.9969 22.3509 39.1145 25.0514 41.1042 27.0436L36.5 31.6123L7.21043 2.21648L6.85627 2.00398C6.67522 1.84602 6.47246 1.71482 6.25418 1.61439L5.61668 1.36648L5.19168 1.08314H4.23543C4.02427 1.04938 3.80909 1.04938 3.59793 1.08314C3.38353 1.16118 3.18092 1.26844 2.99585 1.40189L2.42918 1.75606H2.18127L1.96877 2.11023C1.81887 2.29722 1.68834 2.49895 1.57918 2.71231C1.47546 2.92828 1.39245 3.15359 1.33127 3.38523V3.77481C0.471829 9.76522 1.01978 15.8735 2.93166 21.6153C4.84355 27.3571 8.0668 32.5746 12.3458 36.854L21.6959 46.1686L2.53543 65.2936C2.20348 65.6228 1.94 66.0145 1.76019 66.4461C1.58039 66.8777 1.48781 67.3406 1.48781 67.8081C1.48781 68.2757 1.58039 68.7386 1.76019 69.1702C1.94 69.6018 2.20348 69.9935 2.53543 70.3227C2.86637 70.651 3.25884 70.9107 3.69035 71.0869C4.12186 71.2632 4.58391 71.3525 5.05002 71.3498C5.51612 71.3525 5.97818 71.2632 6.40969 71.0869C6.84119 70.9107 7.23367 70.651 7.5646 70.3227L29.0625 49.1436L39.0854 39.1206L46.1688 32.0373C48.145 34.0348 50.8319 35.1682 53.6417 35.1894ZM26.5479 41.6352L17.2334 32.2852C12.1279 27.1099 8.93114 20.3543 8.16668 13.1248L31.5771 36.4998L26.5479 41.6352ZM48.6479 43.654C47.981 42.9824 47.0746 42.6032 46.1282 42.5999C45.1817 42.5966 44.2727 42.9694 43.6011 43.6363C42.9295 44.3032 42.5503 45.2096 42.547 46.156C42.5436 47.1025 42.9164 48.0115 43.5834 48.6831L65.8958 70.9956C66.5723 71.6112 67.4607 71.9412 68.375 71.9165C68.8411 71.9192 69.3032 71.8298 69.7347 71.6536C70.1662 71.4773 70.5587 71.2176 70.8896 70.8894C71.2215 70.5602 71.485 70.1684 71.6648 69.7369C71.8447 69.3053 71.9372 68.8424 71.9372 68.3748C71.9372 67.9073 71.8447 67.4444 71.6648 67.0128C71.485 66.5812 71.2215 66.1895 70.8896 65.8602L48.6479 43.654Z" fill="#4B5B5B" />
                </svg>

            </p>
            <p class="food-text">
                Restaurante no local
            </p>


            <p class="servicos-icon">
                <svg width="85" height="85" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M77.0312 57.1198C77.0312 38.973 62.9606 24.0507 45.1562 22.6899V13.2812H39.8438V22.6899C22.0394 24.0512 7.96875 38.973 7.96875 57.1198V62.6161H77.0312V57.1198ZM71.7188 57.3036H13.2812V57.1198C13.2812 41.0087 26.3887 27.9011 42.5 27.9011C58.6113 27.9011 71.7188 41.0085 71.7188 57.1198V57.3036Z" fill="#4B5B5B" />
                    <path d="M2.65625 69.0625H82.3438V74.375H2.65625V69.0625Z" fill="#4B5B5B" />
                </svg>

            </p>

            <p class="servicos-text">
                Serviço de quarto
            </p>

            <p class="peso-icon">
                <svg width="81" height="41" viewBox="0 0 81 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M80.1667 17.6665V23.3332H74.5V34.6665H68.8334V40.3332H60.3334V23.3332H20.6667V40.3332H12.1667V34.6665H6.50004V23.3332H0.833374V17.6665H6.50004V6.33317H12.1667V0.666504H20.6667V17.6665H60.3334V0.666504H68.8334V6.33317H74.5V17.6665H80.1667Z" fill="#4B5B5B" />
                </svg>
            </p>

            <p class="peso-text">
                Academia de ginástica
            </p>

            <p class="pata-icon">
                <svg width="85" height="85" viewBox="0 0 85 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M63.555 50.5645C62.2838 45.9561 59.5357 41.8921 55.7324 38.9959C51.9291 36.0997 47.2806 34.5312 42.5001 34.5312C37.7196 34.5313 33.0711 36.0997 29.2678 38.9959C25.4645 41.8921 22.7164 45.9561 21.4452 50.5645L18.4157 61.5464C17.8718 63.5182 17.7906 65.589 18.1786 67.5973C18.5665 69.6056 19.4131 71.4971 20.6523 73.1244C21.8915 74.7518 23.4898 76.0709 25.3226 76.9789C27.1554 77.887 29.1732 78.3595 31.2187 78.3595H53.7815C55.827 78.3595 57.8447 77.887 59.6776 76.9789C61.5104 76.0709 63.1087 74.7518 64.3479 73.1244C65.5871 71.4971 66.4337 69.6056 66.8216 67.5973C67.2096 65.589 67.1284 63.5182 66.5845 61.5464L63.555 50.5645ZM60.1215 69.9053C59.3812 70.8853 58.4229 71.6794 57.3225 72.2247C56.222 72.77 55.0097 73.0515 53.7815 73.047H31.2187C29.9914 73.047 28.7807 72.7635 27.681 72.2187C26.5813 71.6739 25.6223 70.8824 24.8787 69.906C24.1352 68.9296 23.6273 67.7946 23.3945 66.5896C23.1617 65.3846 23.2104 64.1421 23.5368 62.959L26.5662 51.9773C27.5283 48.4898 29.608 45.4142 32.4862 43.2225C35.3645 41.0307 38.8823 39.8438 42.5001 39.8438C46.1179 39.8438 49.6357 41.0307 52.5139 43.2225C55.3922 45.4142 57.4719 48.4898 58.4339 51.9773L61.4634 62.959C61.7945 64.1416 61.8456 65.3851 61.6127 66.5909C61.3797 67.7967 60.8692 68.9317 60.1215 69.9059V69.9053Z" fill="#4B5B5B" />
                    <path d="M24.255 38.2352C24.7172 35.3465 24.1042 32.2542 22.5284 29.5255C20.9526 26.7969 18.5806 24.7199 15.8484 23.6758C12.9226 22.5584 9.93828 22.7363 7.44241 24.1767C2.4807 27.0415 1.17498 34.1019 4.53232 39.9158C6.10764 42.6444 8.47984 44.722 11.212 45.7655C12.4222 46.2372 13.7087 46.4831 15.0076 46.4912C16.6258 46.497 18.2166 46.0738 19.618 45.2645C22.1124 43.824 23.7593 41.3276 24.255 38.2352ZM19.0089 37.3955C18.7715 38.8779 18.0443 40.0385 16.9614 40.6637C15.8785 41.2889 14.5099 41.3381 13.107 40.8027C11.5111 40.1932 10.0997 38.9348 9.13244 37.2595C7.27307 34.0388 7.715 30.1541 10.0987 28.7775C10.6979 28.4374 11.3765 28.2623 12.0654 28.2698C12.7117 28.2765 13.3513 28.4012 13.9527 28.6379C15.5486 29.2476 16.9601 30.5059 17.9273 32.1811C18.8945 33.8564 19.2785 35.7086 19.0089 37.3955Z" fill="#4B5B5B" />
                    <path d="M24.8302 27.2294C26.7165 28.7373 28.8705 29.5226 31.0488 29.5224C31.7013 29.5222 32.3519 29.4521 32.9894 29.3131C38.5879 28.096 41.9824 21.7688 40.5564 15.2087C39.8873 12.1298 38.2607 9.42857 35.9763 7.60223C33.5301 5.64657 30.6325 4.90631 27.8172 5.51857C22.2188 6.73547 18.8243 13.0627 20.2502 19.6228C20.9194 22.7019 22.546 25.4031 24.8302 27.2294ZM28.9454 10.7099C29.2035 10.6542 29.4669 10.6264 29.731 10.6269C30.7184 10.6269 31.7341 11.0132 32.659 11.7526C33.9933 12.8193 34.9543 14.4477 35.3651 16.3381C36.1553 19.9731 34.5506 23.5379 31.861 24.1226C30.6389 24.3882 29.3201 24.0184 28.1477 23.0809C26.8134 22.014 25.8524 20.3856 25.4416 18.4953C24.6512 14.8594 26.2559 11.2946 28.9454 10.7099Z" fill="#4B5B5B" />
                    <path d="M77.5577 24.1767C75.0628 22.7363 72.077 22.5584 69.1516 23.6758C66.4195 24.7196 64.0473 26.7969 62.472 29.5255C60.8967 32.2542 60.2836 35.3472 60.7454 38.2352C61.2405 41.3276 62.887 43.824 65.3824 45.2645C66.7837 46.0738 68.3746 46.4971 69.9928 46.4912C71.2917 46.4832 72.5782 46.2372 73.7884 45.7655C76.5206 44.722 78.8928 42.6444 80.4681 39.9158C83.8251 34.1019 82.5194 27.0415 77.5577 24.1767ZM75.8676 37.2596C74.9004 38.9348 73.4889 40.1932 71.893 40.8027C70.4909 41.3386 69.1219 41.2893 68.039 40.6637C66.9561 40.0382 66.2294 38.8779 65.9915 37.3955C65.7216 35.7086 66.1054 33.8571 67.0728 32.1826C68.0402 30.5082 69.4514 29.2491 71.0474 28.6394C71.6487 28.4025 72.2883 28.2775 72.9346 28.2706C73.6236 28.2631 74.3022 28.4383 74.9014 28.7783C77.2851 30.1537 77.7275 34.038 75.8676 37.2596Z" fill="#4B5B5B" />
                    <path d="M52.0106 29.3128C52.6481 29.4518 53.2987 29.522 53.9511 29.5222C56.1293 29.5222 58.2841 28.7371 60.1698 27.2292C62.454 25.403 64.0806 22.7016 64.7498 19.6226C66.1757 13.0625 62.7812 6.73535 57.1828 5.51846C54.3677 4.90652 51.4699 5.64629 49.0236 7.60212C46.7393 9.42829 45.1126 12.1297 44.4436 15.2085C43.0175 21.7686 46.412 28.0958 52.0106 29.3128ZM49.6349 16.337C50.0456 14.4466 51.0067 12.8175 52.341 11.7515C53.266 11.0121 54.2815 10.6258 55.269 10.6258C55.533 10.6253 55.7964 10.6531 56.0546 10.7088C58.744 11.2935 60.3487 14.8592 59.5586 18.4932C59.1476 20.3837 58.1865 22.0128 56.8526 23.0789C55.6804 24.0163 54.3624 24.3861 53.1393 24.1207C50.4494 23.5368 48.8447 19.9714 49.6349 16.337Z" fill="#4B5B5B" />
                </svg>
            </p>


            <p class="pata-text">
                Amigo dos animais
            </p>




        </div>


    </div>

</section>

<section id="spoiler">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div id="spoiler1" style="display:none">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisi hac placerat lorem odio viverra quam ut leo. Tristique velit mauris vulputate potenti lobortis enim quisque.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisi hac placerat lorem odio viverra quam ut leo. Tristique velit mauris vulputate potenti lobortis enim quisque.
                </div>  <button title="Clique para mostrar/ocultar" type="button" onclick="if(document.getElementById('spoiler1') .style.display=='none') {document.getElementById('spoiler1') .style.display=''}else{document.getElementById('spoiler1') .style.display='none'}">Exibir/Ocultar</button>

            </div>


        </div>
    </div>
</section>


<!-- texto com imagem do info quarto -->
<section id="texto-imagem">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="main-title"> Executive Prime </h2>
            </div>


            <div class="col-md-6">
                <h3 class="info-h3">Lorem ipsum </h3>
                <p class="text-beforeh3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae eget placerat sed varius id egestas eget senectus. Faucibus in morbi vestibulum ultricies mauris. Id lacus, a euismod fermentum. Ultrices orci a, vivamus sit pharetra</p>
                <h3 class="title-list">Lorem ipsum</h3>
                <ul class="list-info">
                    <li class="itens"> Atendimento aos cliente</li>
                    <li class="itens"> Espaço Diferenciado</li>
                    <li class="itens"> Localização</li>
                    <li class="itens"> Profissionais Qualificados</li>
                </ul>
            </div>

            <div class="col-md-6">
                <img class="img-fluid" src="~/assets/images/2 2.png" alt="InfoQuarto">
            </div>

        </div>
    </div>
</section>

<!-- pacotes -->
<section id="Pacotes-info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2> Pacotes</h2>
            </div>

            <div class="col-4">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <h1 class="card-title">Tarifa Simples</h1>
                            <h6 class="card-subtitle mb-2 text-muted">Regras de tarifa</h6>
                            <h3 class="card-text">R$ 980</h3>
                            <h5> Méd./Diária</h5>
                            <a href="#" class="btn btn-secondary">Reserve Agora</a>
                        </div>

                        <div class="back">
                            <h1 class="card-title">Tarifa Simples</h1>
                            <h4 class="card-text">Lorem ipsum </h4>
                            <p class="card-title"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <ul class="list-card">
                                <li class="itens">  Lorem ipsum dolor sit amet</li>
                                <li class="itens">  Lorem ipsum dolor sit amet</li>
                            </ul>

                            <h3 class="card-text">R$ 980</h3>
                            <h5> Méd./Diária</h5>
                            <a href="#" class="btn btn-secondary">Reserve Agora</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-4">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <h1 class="card-title">Tarifa Simples</h1>
                            <h6 class="card-subtitle mb-2 text-muted">Regras de tarifa</h6>
                            <h3 class="card-text">R$ 980</h3>
                            <h5> Méd./Diária</h5>
                            <a href="#" class="btn btn-secondary">Reserve Agora</a>
                        </div>

                        <div class="back">
                            <h1 class="card-title">Tarifa Simples</h1>
                            <h4 class="card-text">Lorem ipsum </h4>
                            <p class="card-title"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <ul class="list-card">
                                <li class="itens">  Lorem ipsum dolor sit amet</li>
                                <li class="itens">  Lorem ipsum dolor sit amet</li>
                            </ul>

                            <h3 class="card-text">R$ 980</h3>
                            <h5> Méd./Diária</h5>
                            <a href="#" class="btn btn-secondary">Reserve Agora</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-4">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">

                            <h1 class="card-title">Tarifa Simples</h1>
                            <h6 class="card-subtitle mb-2 text-muted">Regras de tarifa</h6>
                            <h3 class="card-text">R$ 980</h3>
                            <h5> Méd./Diária</h5>
                            <a href="#" class="btn btn-secondary">Reserve Agora</a>
                        </div>

                        <div class="back">

                            <h1 class="card-title">Tarifa Simples</h1>
                            <h4 class="card-text">Lorem ipsum </h4>
                            <p class="card-title"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <ul class="list-card">
                                <li class="itens">  Lorem ipsum dolor sit amet</li>
                                <li class="itens">  Lorem ipsum dolor sit amet</li>
                            </ul>

                            <h3 class="card-text">R$ 980</h3>
                            <h5> Méd./Diária</h5>
                            <a href="#" class="btn btn-secondary">Reserve Agora</a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>

<section id="Pacotes-info2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">

            </div>

            <div class="col-4">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <h1 class="card-title">Tarifa Simples</h1>
                            <h6 class="card-subtitle mb-2 text-muted">Regras de tarifa</h6>
                            <h3 class="card-text">R$ 980</h3>
                            <h5> Méd./Diária</h5>
                            <a href="#" class="btn btn-secondary">Reserve Agora</a>
                        </div>

                        <div class="back">
                            <h1 class="card-title">Tarifa Simples</h1>
                            <h4 class="card-text">Lorem ipsum </h4>
                            <p class="card-title"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <ul class="list-card">
                                <li class="itens">  Lorem ipsum dolor sit amet</li>
                                <li class="itens">  Lorem ipsum dolor sit amet</li>
                            </ul>

                            <h3 class="card-text">R$ 980</h3>
                            <h5> Méd./Diária</h5>
                            <a href="#" class="btn btn-secondary">Reserve Agora</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-4">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <h1 class="card-title">Tarifa Simples</h1>
                            <h6 class="card-subtitle mb-2 text-muted">Regras de tarifa</h6>
                            <h3 class="card-text">R$ 980</h3>
                            <h5> Méd./Diária</h5>
                            <a href="#" class="btn btn-secondary">Reserve Agora</a>
                        </div>

                        <div class="back">
                            <h1 class="card-title">Tarifa Simples</h1>
                            <h4 class="card-text">Lorem ipsum </h4>
                            <p class="card-title"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <ul class="list-card">
                                <li class="itens">  Lorem ipsum dolor sit amet</li>
                                <li class="itens">  Lorem ipsum dolor sit amet</li>
                            </ul>

                            <h3 class="card-text">R$ 980</h3>
                            <h5> Méd./Diária</h5>
                            <a href="#" class="btn btn-secondary">Reserve Agora</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-4">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <h1 class="card-title">Tarifa Simples</h1>
                            <h6 class="card-subtitle mb-2 text-muted">Regras de tarifa</h6>
                            <h3 class="card-text">R$ 980</h3>
                            <h5> Méd./Diária</h5>
                            <a href="#" class="btn btn-secondary">Reserve Agora</a>
                        </div>

                        <div class="back">
                            <h1 class="card-title">Tarifa Simples</h1>
                            <h4 class="card-text">Lorem ipsum </h4>
                            <p class="card-title"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            <ul class="list-card">
                                <li class="itens">  Lorem ipsum dolor sit amet</li>
                                <li class="itens">  Lorem ipsum dolor sit amet</li>
                            </ul>

                            <h3 class="card-text">R$ 980</h3>
                            <h5> Méd./Diária</h5>
                            <a href="#" class="btn btn-secondary">Reserve Agora</a>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>

