<section style="margin-top: 50px">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <partial name="_CardPerfil" />

            </div>
            <div class="col-md-8">
                <p class="text-center background-light-pink">Meus Quartos</p>
                <div class="areaQuarto">
                    <div>
                        <h2 class="margin-top">Executive Prime</h2>
                    </div>
                    <div style="display: flex;">
                        <img class="img-room" src="~/assets/images/2 2.png" alt="Quarto">
                        <div class="container">
                            <h2 style="font-size: 24px; margin: auto;">Quarto e serviços:</h2>
                            <p style="font-size: 20px; margin: auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, lorem urna dui fusce nunc.</p>
                            <ol class="lista" style="font-size: 20px; margin-bottom: 2%;">
                                <li>pellentesque. Egestas varius fermentum</li>
                                <li>convallis integer consequat, dignissim</li>
                            </ol>
                            <div  style="display: flex;">
                                <p style="font-weight: bold;">Status:</p>
                                <p style="margin-left: 10%;">Reservado</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4 class="margin-top">Tempo de Estadia</h4>
                        <div style="display: flex; width: 100%;">
                            <p style="font-size: 24px;">4</p>
                            <div class="progress" style="width: 50%; height: 4px; margin: 18px;">
                                <div class="bg-secondary progress-bar" style="width: 35%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p style="font-size: 24px;">10</p>
                        </div>
                        <div style="display: flex; justify-content: space-between; width: 61%;">
                            <p>00/00/000</p> 
                            <p>00/00/000</p> 
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-6">
                            <h4 class="margin-top">Serviços solicitados</h4>  
                            <div class="row">
                                <div class="col-md-2">
                                    <p class="margin-top">2</p>
                                    <p class="margin-top">1</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="margin-top">Jantar</p>  
                                    <p class="margin-top">Vinhos</p>  
                                </div>
                                <div class="col-md-4" style="font-weight: bold;">
                                    <p class="margin-top">R$ 108,00</p>  
                                    <p class="margin-top">R$ 47,90</p>  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="margin-top">Diárias Vencidas</h4>         
                            <div class="row">
                                <div class="col-md-2">
                                    <p class="margin-top">4/10</p>
                                </div>
                                <div class="col-md-3">
                                    <p class="margin-top">Dias</p>  
                                </div>
                                <div class="col-md-4" style="font-weight: bold;">
                                    <p class="margin-top">PAGO</p>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-4">
                            <h4 class="margin-top" style="margin: 5px 0px;">Total</h4>
                            <p style="margin: 0px; font-size: 18px;">Diárias + serviços</p> 
                            <p style="margin: 0px; font-size: 12px;">*Pagamento ao fim da reserva</p>
                        </div>
                            <div class="col-md-4" style="font-weight: bold;">
                                <p style="margin-top: 18%;">R$ 155,90</p>                              
                            </div>
                            <div class="col-md-4" style="margin-top: 5%;">
                                <div style="padding-top:40px">
                                    <div>
                                        <a class="btn w-100 botao">Cancelar Reserva</a>
                                    </div>
                                    <div>
                                        <a class="btn w-100 botao">Finalizar Reserva</a>
                                    </div>
                                    <div>
                                        <a class="btn w-100 botao">Encontrar mais quartos</a>
                                    </div>
                                </div>
                            </div>            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>