<vc:banner pagina="contato"></vc:banner>

<section id="contato" class="pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="home-main-title">Entre em contato conosco!</h3>
            </div>

            <div class="col-md-4 text-center">
                <i class="fas fa-map-marker-alt" style="font-size: 40px"></i>
                <p>Endereço</p>
                <p>Av. Lorem ipsum dolor, 100</p>
            </div>
            <div class="col-md-4 text-center line-around">
                <i class="fas fa-mobile" style="font-size: 40px"></i>
                <p>Número</p>
                <p>+55 (99)99999-9999</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-envelope" style="font-size: 40px"></i>
                <p>E-mail</p>
                <p>info@exemple.com.br</p>
            </div>

        </div>
    </div>
</section>

<section class="background-second" style="padding: 60px 0; margin-top: 50px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center text-white pb-5">
                <h4>Caso tenha qualquer dúvida, consideração ou sugestão é só nos enviar uma mensagem!</h4>
            </div>

            <div class="col-10">
                <form class="formulario">

                    <div class="row">
                        <div class="col-12">
                            <input class="w-100" type="text" id="nome" placeholder="Nome" />
                        </div>
                        <div class="col-12">
                            <input class="w-100" type="text" id="email" placeholder="E-mail" />
                        </div>
                        <div class="col-12">
                            <input class="w-100" type="text" id="assunto" placeholder="Assunto" />
                        </div>
                        <div class="col-12">
                            <textarea class="w-100" type="text" id="mensagem" name="mensagem" rows="5" placeholder="Mensagem"></textarea>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 d-flex justify-content-center">
                            <a class="btn background-light-pink botaos">Enviar</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

<section id="contato" class="pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="home-main-title">Conecte-se Conosco!</h3>
            </div>

            <div class="col-12 text-center social-medias-dark pb-5">
                <p>
                    <i class="fab fa-instagram pr-3"></i>
                    <i class="fab fa-linkedin pr-3"></i>
                    <i class="fab fa-facebook pr-3"></i>
                    <i class="fab fa-youtube pr-3"></i>
                </p>
            </div>

        </div>
    </div>
</section>

<div class="row" style="padding-bottom: 40px;">
    <div class="col-lg-12">
        <div id="map-canvas" class="mt-30" style="height: 600px !important;"></div> <!-- map area -->
    </div>
</div>

@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_g0HB1vcLs5Gg8X3WyOIldRKYy_5_CmM"></script>

    <script>
        $(document).ready(function ($) {
            var styles = [{}];

            var styledMap = new google.maps.StyledMapType(styles,
                { name: "Hotel Cecil" });

            var mapOptions = {
                zoom: 17,
                center: new google.maps.LatLng(-21.215981730692924, -47.81840574974915),
                scrollwheel: false,
                // disable mapType-top_right corner
                mapTypeControl: true,
                disableDefaultUI: false,

                mapTypeControlOptions: {
                    mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map-canvas']
                }
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

            var marker1 = new google.maps.Marker({
                position: new google.maps.LatLng(-21.215981730692924, -47.81840574974915),
                map: map,
                animation: google.maps.Animation.BOUNCE,
                /* url = 'http://www.google.com/'*/
            });

            //google.maps.event.addListener(marker1, 'click', function () {
            //    window.location.href = marker1.url;
            //    window.open(this.url, '_blank');
            //});

            map.mapTypes.set('map-canvas', styledMap);
            map.setMapTypeId('map-canvas');
        });

    </script>
}