<vc:banner pagina="contato"></vc:banner>

<section>
    <div class="container">
        <div class="row justify-content-center text-white">
            <div class="col-12">
                <h3 class="home-main-title text-white">Contato</h3>
            </div>

            <div class="col-md-4 text-center">
                <i class="fas fa-map-marker-alt" style="font-size: 40px"></i>
                <p>Endereço</p>
                <p>Av. Lorem ipsum dolor, 100</p>
            </div>
            <div class="col-md-4 text-center line-around">
                <i class="fas fa-mobile" style="font-size: 40px"></i>
                <p>Número</p>
                <p>+55 (99)99999-9999</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-envelope" style="font-size: 40px"></i>
                <p>E-mail</p>
                <p>info@exemple.com.br</p>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h4>Caso tenha qualquer dúvida, consideração ou sugestão é só nos enviar uma mensagem!</h4>
            </div>

            <div class="col-10">
                <form class="formulario">

                    <div class="row">
                        <div class="col-12">
                            <input class="w-100" type="text" id="nome" placeholder="Nome" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input class="w-100" type="text" id="nome" placeholder="E-mail" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input class="w-100" type="text" id="nome" placeholder="Assunto" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea class="w-100" type="text" id="nome" placeholder="Mensagem" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 50px">
                        <div class="col-4">
                            <a class="btn background-light-pink botaos" style="float: right">Enviar</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>