@model PIM.Site.Models.BannerViewModel;

<section class="back-img" style="background-image: url(/assets/images/@Model.CaminhoImg)">
    <div style="background-color: rgb(0 0 0 / 0.60); height: 100%; width: 100%; position: absolute;"></div>
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-6 col-10">
                <div class="outline-white">
                    <h1 class="text-white text-uppercase">@Model.Title</h1>
                </div>
            </div>
        </div>
    </div>
</section>
