<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">
                    Política de Privacidade
                </h1>
                <h2 class="text-center" style="padding-bottom: 50px">
                    <br />POLÍTICA DE PRIVACIDADE E TRATAMENTO DE DADOS<br />DO HOTEL CECIL
                </h2>

                <ol class="text-justify">
                    <li>
                        <h4>Introdução</h4>
                        <p>
                            Esta Política descreve as principais regras sobre o Tratamento dos seus Dados Pessoais quando atendemos Você em nossas unidades físicas, denominadas Lojas, ou por meio dos nossos ambientes virtuais, a exemplo do Site www.vittaresidencial.com.br.<br /><br />
                            Para acessar e utilizar das funcionalidades ofertadas em Nossos Ambientes, Você declara que fez a leitura completa e atenta desta Política, estando plenamente ciente dos termos aqui dispostos e conferindo a sua livre e expressa concordância para o Tratamento dos Dados Pessoais de acordo com as condições abaixo especificadas.<br /><br />
                            Estamos sempre buscando lhes oferecer os serviço com a maior eficiência possível, nos atualizando constantemente para isto. Por esse motivo, esta Política poderá sofrer ajustes a qualquer tempo, cabendo a Você verificá-la sempre que possível através deste endereço eletrônico.
                        </p>
                    </li>

                    <li>
                        <h4>O que são Dados Pessoais</h4>
                        <p>
                            "Dados pessoais" significa qualquer informação que possa identificá-lo diretamente (p. ex., seu nome) ou indiretamente (p. ex., por meio de dados pseudonimizados, tal como um número de identificação exclusivo). Isso significa que os dados pessoais incluem informações como endereços de e-mail/ residenciais/telefone celular, nomes de usuário, fotos de perfil, preferências pessoais e hábitos de compra, conteúdo gerado pelo usuário, informações financeiras e informações de bem-estar. Podem também incluir identificadores numéricos exclusivos, como o endereço Internet Protocol (IP) do seu computador ou o endereço Media Access Control (MAC) do seu dispositivo móvel, além de cookies.
                        </p>

                        <div class="container">
                            <h4>2.1 Sobre dados que coletamos</h4>
                            <p>
                               Os Dados, incluindo Dados Pessoais, poderão ser coletados quando Você (i) os submete; (ii) faz uso dos serviços ofertados pelo Hotel Cecil; ou (iii) quando Você interage com Nossos Ambientes, o que inclui:
                            </p>
                        </div>

                    </li>

                    <li>
                        <h4>Como compartilhamos Dados e Informações</h4>
                        <p>
                            Os Dados coletados e as atividades registradas podem ser compartilhados:
                        </p>

                        <ol type="i">
                            <li>
                                <p>
                                    Com autoridades judiciais, administrativas ou governamentais competentes, sempre que houver determinação legal, requerimento, requisição ou ordem judicial;
                                </p>
                            </li>
                            <li>
                                <p>
                                    Com empresas contratadas para a prestação de serviços de recrutamento e seleção, sempre exigido de tais organizações o cumprimento das diretrizes de segurança e proteção de dados, conforme item “4.5” desta Política;
                                </p>
                            </li>
                            <li>
                                <p>
                                    Com empresas responsáveis por dar andamento em denúncias que violem o Código de Ética e que garantam o tratamento sem conflito de interesses das denúncias, sempre exigido de tais organizações o cumprimento das diretrizes de segurança e proteção de dados, conforme item “4.5” desta Política;
                                </p>
                            </li>
                            <li>
                                <p>
                                    Com as empresas do mesmo grupo econômico do Hotel Cecil, sempre em observância às diretrizes de segurança e proteção de Dados;
                                </p>
                            </li>
                            <li>
                                <p>
                                    De forma automática, em caso de movimentações societárias, como fusão, aquisição e incorporação.
                                </p>
                            </li>
                        </ol>
                    </li>

                    <li>
                        <h4>Como protegemos seus dados e como você também poderá protegê-los</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit fermentum metus tristique id ac augue orci. Non lorem commodo porta id id faucibus. Mauris, ut at adipiscing ipsum egestas. Ultrices semper viverra facilisis pellentesque eget. Eget fringilla tristique habitant porta non aliquam malesuada orci maecenas. Volutpat arcu velit cursus consectetur tincidunt sagittis, mattis. Suspendisse.
                        </p>
                    </li>

                    <li>
                        <h4>Como armazenamos seus Dados Pessoais e Registros de Atividades</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit fermentum metus tristique id ac augue orci. Non lorem commodo porta id id faucibus. Mauris, ut at adipiscing ipsum egestas. Ultrices semper viverra facilisis pellentesque eget. Eget fringilla tristique habitant porta non aliquam malesuada orci maecenas. Volutpat arcu velit cursus consectetur tincidunt sagittis, mattis. Suspendisse.
                        </p>
                    </li>

                    <li>
                        <h4>Quais são seus direiros e como exercê-los</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit fermentum metus tristique id ac augue orci. Non lorem commodo porta id id faucibus. Mauris, ut at adipiscing ipsum egestas. Ultrices semper viverra facilisis pellentesque eget. Eget fringilla tristique habitant porta non aliquam malesuada orci maecenas. Volutpat arcu velit cursus consectetur tincidunt sagittis, mattis. Suspendisse.
                        </p>
                    </li>
                </ol>

                <h2 class="text-center">
                    <br />POLÍTICA DE COOKIES DO HOTEL CECIL
                </h2>

                <ol class="text-justify">
                    <li>
                        <h4>Introdução</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit fermentum metus tristique id ac augue orci. Non lorem commodo porta id id faucibus. Mauris, ut at adipiscing ipsum egestas. Ultrices semper viverra facilisis pellentesque eget. Eget fringilla tristique habitant porta non aliquam malesuada orci maecenas. Volutpat arcu velit cursus consectetur tincidunt sagittis, mattis. Suspendisse. Non lorem commodo porta id id faucibus. Mauris, ut at adipiscing ipsum egestas. Ultrices semper viverra facilisis pellentesque eget
                        </p>
                    </li>

                    <li>
                        <h4>O que são Cookies?</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit fermentum metus tristique id ac augue orci. Non lorem commodo porta id id faucibus. Mauris, ut at adipiscing ipsum egestas. Ultrices semper viverra facilisis pellentesque eget. Eget fringilla tristique habitant porta non aliquam malesuada orci maecenas. Volutpat arcu velit cursus consectetur tincidunt sagittis, mattis. Suspendisse. Non lorem commod
                        </p>
                    </li>

                    <li>
                        <h4>Para que servem os Cookies?</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit fermentum metus tristique id ac augue orci. Non lorem commodo porta id id faucibus. Mauris, ut at adipiscing ipsum egestas. Ultrices semper viverra facilisis pellentesque eget. Eget fringilla tristique habitant porta non aliquam malesuada orci maecenas. Volutpat arcu velit cursus consectetur tincidunt sagittis, mattis. Suspendisse. Non lorem commod
                        </p>
                    </li>

                    <li>
                        <h4>Que tipos de Cookies Utilizamos</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit fermentum metus tristique id ac augue orci. Non lorem commodo porta id id faucibus. Mauris, ut at adipiscing ipsum egestas. Ultrices semper viverra facilisis pellentesque eget. Eget fringilla tristique habitant porta non aliquam malesuada orci maecenas. Volutpat arcu velit cursus consectetur tincidunt sagittis, mattis. Suspendisse. Non lorem commod
                        </p>
                    </li>

                    <li>
                        <h4>É possível controlar ou excluir Cookies?</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit fermentum metus tristique id ac augue orci. Non lorem commodo porta id id faucibus. Mauris, ut at adipiscing ipsum egestas. Ultrices semper viverra facilisis pellentesque eget. Eget fringilla tristique habitant porta non aliquam malesuada orci maecenas. Volutpat arcu velit cursus consectetur tincidunt sagittis, mattis. Suspendisse. Non lorem commodNon lorem commodo porta id id faucibus. Mauris, ut at adipiscing ipsum egestas. Ultrices semper viverra facilisis pellentesque eget. Eget fringilla tristique habitant porta non aliquam malesuada orci maecenas. Volutpat arcu velit cursus consectetur tincidunt sagittis, mattis
                        </p>

                        <p>
                            <br />Para mais informações dos cookies, Você poderá entrar em contato diretamente com o nosso Encarregado através do e-mail privacidade@hotelcecil.com.br.
                        </p>
                    </li>
                </ol>
            </div>


        </div>
    </div>
</section>