
<nav class="navbar navbar-expand-lg navbar-dark background-primary">
    <div class="container-navbar container">
        <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" style="max-width: 75%;"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home</a>
                <a class="nav-item nav-link" href="#">Sobre</a>
                <a class="nav-item nav-link" href="#">Serviços</a>
                <a class="nav-item nav-link" href="#">Contato</a>
            </div>
        </div>

        <div class="user pl-5">
            <div class="user-image">
                <img src="/assets/images/user.png" />
            </div>
            <p class="f6 pl-2">Pessoa</p>
            <i class="fas fa-chevron-down f5 pl-3" style="position: relative; bottom: -5px;"></i>
        </div>
    </div>
</nav>
