/* Default Page Styles
-------------------------------------------------- */

:root {
    --primary-color: #94A098;
    --second-color: #4B5B5B;
    --personal-pink: #DDC8BE;
    --light-pink: #DFD6D1;
}



.background-primary {
    background-color: var(--primary-color);
}

.background-second {
    background-color: var(--second-color);
}

.background-light-pink {
    background-color: var(--light-pink);
}


.f5 {
    font-size: 22px;
}

.f6, .nav-item {
    font-size: 18px;
}

p, a {
    font-size: 16px;
}

/* Section media
-------------------------------------------------- */


@media(min-width: 992px) {

    .container-navbar {
        max-width: 1600px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media( max-width: 461px) {
    .user {
        padding-top: 18px;
    }

    .container-navbar {
        justify-content: space-around !important;
    }
}

/* End Section media
-------------------------------------------------- */

.user * {
    display: inline;
    color: white;
}

.user p, .user i {
    position: relative;
    bottom: -5px;
}

.user .user-image {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 80%;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*carousel da Home*/

.carousel-item{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

    .inicio .caixa {
        text-align: center;
        display: flex;
        align-items: center;
        align-content: center;
    }
    .inicio .texto{
        color:#FFF;
    }

    .inicio .row {
        align-content: center;
        align-items: center;
        height: 90vh;
        padding-bottom: 30%;
    }

.indinicio .active {
    background-color: #65DAF9;
}
/*Carrosel finalizado*/

/*Serviçoes da home*/
.home-main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.home-main-title:after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

#homeServicos .img-fundo {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    opacity: 1;
}


.service-box {
    text-align: center;
    margin-bottom: 50px;
}

    .service-box i, .service-box h4 {
        transition: .5s;
    }

    .service-box i {
        font-size: 36px;
        margin-bottom: 20px;
        color: #000;
    }

    .service-box h4 {
        font-size: 24px;
        margin-bottom: 20px;
        color:#000;
    }

    .service-box p {
        font-size: 16px;
        color: #000;
    }

    .service-box:hover > i, .service-box:hover > h4 {
        color: #65DAF9;
    }
/*serviços da Home terminado*/


/*Banner*/
#banner-sobre {
    background-image: url(/assets/images/6.jpeg);
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.espacamento-banner {
    padding: 50px;
}
/*Banner final*/



/*card reservar*/

.card-body-reservar {
    background-color: #94A098;
    width: 100%;
    height: 100%;
}

.card-title-reservar {
    font-size: 48px;
    text-align: center;
    margin: 5%;
}

.card-text-reservar {
    height: 100%;
    width: 90%;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    margin-left:5%
}
.btn-secondary {
    text-align: center;
    margin-top:12%
}

/*fim card reservar*/

/*viagens*/

#viagens i {
    font-size: 36px;
    margin: 30px;
    color: #4B5B5B;
}

.body-vistas {
    width:100%;
    height:100%;
    text-align: left;
    background-color: #FFF;
    font-size: 16px;
    margin:2%;
}



.body-viagem {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #DDC8BE;
    font-size: 16px;
}


.body-trens {
    width: 100%;
    height: 100%;
    text-align: end;
    background-color: #FFF;
    font-size: 16px;
    
}

/* Politica de privacidade*/

::marker {
    font-size: 20px;
    font-weight: 600;
}
/*card carousel quartos*/
.shadow-effect {
    background: #DFD6D1;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #ececec;
    box-shadow: 0 19px 38px rgba(255,255,255,0.08), 0 15px 12px rgba(255,255,255,0.08);
}
#carousel-card .shadow-effect p{
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    margin:0 0 17px 0;
    font-weight:300;
}
.card-nome {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190e7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #444;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}

#carousel-card i{
    text-align:end;

}

#carousel-card .item{
    text-align:center;
    padding: 50px;
    margin-bottom:20px;
    opacity:0.2;
    -webkit-transform: scale3d(0.8,0.8,1);
    transform: scale3d(0.8,0.8,1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

#carousel-card .owl-item.active.center .item {
    opacity:1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.owl-carousel .owl-item img{
    max-width:150px;
    margin:0 auto 17px;
    border-radius: 6px;
}

#carousel-card.owl-carousel .owl-dots .owl-dot.active span,
#carousel-card.owl-carousel .owl-dots .owl-dot:hover span
{
    background-color:#3190e7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#carousel-card.owl-carousel .owl-dots{
    display: inline-block;
    width:100%;
    text-align:center;
}

#carousel-card.owl-carousel .owl-dots .owl-dot{
    display:inline-block;
}

    #carousel-card.owl-carousel .owl-dots .owl-dot span {
        background: #3190e7;
        display: inline-block;
        height: 20px;
        margin: 0 2px 5px;
        transform: translate3d(0px, -50%, 0px) scale(0.3);
        transform-origin: 50% 50% 0;
        transition:all 250ms ease-out 0s;
        width:20px;
        border-radius:20px;
    }


.home-card-title {
    text-align: initial;
    font-size: 48px;
    font-weight: 400;
    color: #097100;
}

/*cards carousel quartos fim*/