/* Default Page Styles
-------------------------------------------------- */

:root {
    --primary-color: #94A098;
    --second-color: #4B5B5B;
    --personal-pink: #DDC8BE;
    --light-pink: #DFD6D1;
}



.background-primary {
    background-color: var(--primary-color);
}

.background-second {
    background-color: var(--second-color);
}

.background-light-pink {
    background-color: var(--light-pink);
}


.f5 {
    font-size: 22px;
}

.f6 {
    font-size: 18px;
}

p, a, .nav-item {
    font-size: 16px;
}

.active{
    color: white;
}

h2{
    color: var(--light-pink);
}

.text-dark {
    color: black;
}
/* Section media
-------------------------------------------------- */
@media(min-width: 992px) {
    .container-navbar {
        max-width: 1600px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media( max-width: 461px) {
    .user {
        padding-top: 18px;
    }

    .container-navbar {
        justify-content: space-around !important;
    }
}

/* End Section media
-------------------------------------------------- */

.back-img {
    min-height: 450px;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.outline-white{
    border: 5px solid white;
    padding: 8px;
}

.user * {
    display: inline;
    color: white;
}

.user p, .user i {
    position: relative;
    bottom: -5px;
}

.user .user-image {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 80%;
}

.btn-drop {
    padding: 0!important;
    margin: 0!important;
    background: transparent!important;
    border: none!important;
}

.btn-drop::after{
    display:none;
}

.btn-drop:focus{
    outline: none;
}

.btn-user .dropdown-menu {
    float: right !important;
    right: -15px !important;
    left: unset !important;
    background-color: var(--primary-color) !important;
    border: none;
    -webkit-box-shadow: 0px 10px 10px -5px #000000;
    box-shadow: 0px 10px 10px -5px #000000;
    /*transition: 0.5s ease-out;*/
}

.btn-user .dropdown-divider {
    border-top: .5px solid #000000;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-item:active, nav-link:active{
    color: white;
    background-color: var(--second-color);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    width: 100%;
}

.line-around {
    border-left: 1px solid var(--personal-pink);
    border-right: 1px solid var(--personal-pink);
}

.social-medias i {
    font-size: 30px;
}

.social-medias-dark i {
    font-size: 40px;
}

/*carousel da Home*/
.carousel-item {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio .caixa {
    text-align: center;
/*    display: flex;
    align-items: center;
    align-content: center;*/
}

.inicio .texto {
    color: #FFF;
}

.inicio{
    height: 90vh;
    /*padding-bottom: 30%;*/
}

.indinicio .active {
    background-color: #65DAF9;
}
/*Carrosel finalizado*/

/*Serviçoes da home*/
.home-main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

    .home-main-title:after {
        content: "";
        border-top: 2px solid #333;
        width: 15%;
        position: absolute;
        top: 60px;
        left: 42.5%;
    }

#homeServicos .img-fundo {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    opacity: 1;
    padding: 80px 0;
}


.service-box {
    text-align: center;
    margin-bottom: 50px;
}

    .service-box i, .service-box h4 {
        transition: .5s;
    }

    .service-box i {
        font-size: 34px;
        margin-bottom: 5px;
        color: white;
    }

    .service-box h4 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #000;
    }

    .service-box p {
        font-size: 16px;
        color: #000;
    }

    .service-box:hover > i, .service-box:hover > h4 {
        color: var(--second-color);
    }
/*serviços da Home terminado*/


/*Banner*/
#banner-sobre {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/assets/images/6.jpeg);
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.espacamento-banner {
    padding: 50px;
}
/*Banner final*/



/*card reservar*/

.card-body-reservar {
    background-color: #94A098;
}

.card-title-reservar {
    font-size: 48px;
    text-align: center;
    margin: 5%;
}

.card-text-reservar {
    height: 100%;
    width: 90%;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    margin-left: 5%
}

.btn-secondary {
    text-align: center;
    margin-top: 12%
}

/*fim card reservar*/

/*viagens*/
#viagens{
    padding: 80px 0;
}

#viagens i {
    font-size: 36px;
    margin: 30px;
    color: #4B5B5B;
}

.body-vistas {
    background-color: transparent;
    font-size: 16px;
}

.body-viagem {
    background-color: var(--personal-pink);
    font-size: 16px;
}


.body-trens {
    background-color: transparent;
    font-size: 16px;
}

/* Politica de privacidade*/

::marker {
    font-size: 20px;
    font-weight: 600;
}
/*card carousel quartos*/
.shadow-effect {
    background: #DFD6D1;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #ececec;
    box-shadow: 0 19px 38px rgba(255,255,255,0.08), 0 15px 12px rgba(255,255,255,0.08);
}

#carousel-card .shadow-effect p {
    font-family: inherit;
    font-size: 22px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}

.btn-default {
    background: var(--second-color);
    padding: 10px 35px;
    border-radius: 5px;
    text-align: center;
    color: white!important;
    border: 2px solid var(--second-color);
    font-weight: 500;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}

.btn-default:hover {
    background: transparent;
    padding: 10px 35px;
    border-radius: 5px;
    text-align: center;
    color: black!important;
     font-weight:500;
    border: 2px solid var(--second-color);
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}

#carousel-card i {
    text-align: end;
}

#carousel-card .item {
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
    opacity: 0.2;
    -webkit-transform: scale3d(0.8,0.8,1);
    transform: scale3d(0.8,0.8,1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#carousel-card .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

.owl-carousel .owl-item img {
/*    max-width: 150px;*/
    margin: 0 auto 17px;
    /*border-radius: 6px;*/
}

#carousel-card.owl-carousel .owl-dots .owl-dot.active span,
#carousel-card.owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #3190e7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#carousel-card.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

    #carousel-card.owl-carousel .owl-dots .owl-dot {
        display: inline-block;
    }

        #carousel-card.owl-carousel .owl-dots .owl-dot span {
            background: #3190e7;
            display: inline-block;
            height: 20px;
            margin: 0 2px 5px;
            transform: translate3d(0px, -50%, 0px) scale(0.3);
            transform-origin: 50% 50% 0;
            transition: all 250ms ease-out 0s;
            width: 20px;
            border-radius: 20px;
        }


.home-card-title {
    font-size: 30px;
    font-weight: 400;
    color: #097100;
}



/*cards carousel quartos fim*/

#perfil {
    width: 200px;
    height: 281px;
    background: #DFD6D1;
}

/*Alterar Conta*/

.botao {
    background: #94A098;
    border-radius: 5px;
    color: white !important;
    margin-top: 10px;
    /* border: 15px; */
}

button#btnF {
    background: #DFD6D1;
    border-radius: 5px;
    /*color: black;*/
}

#formulario label {
    margin-bottom: 0px;
}

#formulario input {
    margin-bottom: 10px;
    background: #F8F7F7;
    border: 0.5px solid #000000;
    /* box-sizing: border-box; */
    /* display: flex; */
    /* width: 300px; */
    height: 40px;
}

.perfil {
    width: 100%;
    padding: 30px;
}

.foto-perfil {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.nome-user, .qtn-quarto {
    position: absolute;
}

.nome-user {
    top: 60%;
    left: -10px;
}

.qtn-quarto {
    top: 70%;
    left: -10px;
}


/* Selecionar site*/

.imagem-fundo {
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    filter: brightness(0.7)
}

#img-Selecionar-Quarto h2 {
    text-align: center;
    color: black;
}

#img-Selecionar-Quarto h3 {
    text-align: start;
    padding-top: 30%;
    color: black;
    font-weight: 500;
}

/*fim*/

/*Barra Check in*/

.check-body {
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 5%;
}

    .check-body i {
        font-size: 20px;
    }

#date {
    align-items: center;
}
/*Barra Check in fim */
/*Conteudo da esquerda*/
#conteudo-esquerda {
    width: 40vh;
    height: 100%;
    float: left;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

    #conteudo-esquerda i {
        color: gold;
    }

/*Conteudo da esquerda fim*/

/*Conteudo da Direita*/


#carousel-card .item-texto {
    opacity: 0.2;
    -webkit-transform: scale3d(0.8,0.8,1);
    transform: scale3d(0.8,0.8,1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#carousel-card .owl-item.active.center .item-texto {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

#conteudo-direita .quarto-preco {
    font-size: 22px;
    color: #097100;
}

#conteudo-direita .card-title {
    font-size: 22px;
    color: black;
    align-content:center;
}

#conteudo-direita i {
    font-size: 22px;
    padding-right:1%;
}
/*Fim Conteudo da direita*/

/*Alterar Conta*/

.botao {
    background: #94A098;
    border-radius: 5px;
    color: white !important;
    margin-top: 10px;
}


.formulario label {
    margin-bottom: 0px;
}

.formulario input {
    margin-bottom: 10px;
    background: #F8F7F7;
    border: 0.5px solid #000000;
    height: 40px;
}

.perfil {
    width: 100%;
    padding: 30px;

}

.foto-perfil {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.nome-user, .qtn-quarto{
    position: absolute;
}

.nome-user {
    top: 140px;
    left: -20px;
    display: block;
    background-color: #4B5B5B;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
}


.qtn-quarto {
    top: 170px;
    left: -15px;
    display: block;
    background-color: #94A098;
    padding-right: 5px;
    padding-left: 5px;
    color: white;
    height: 25px;
}

.botaos {
    border-radius: 5px;
    color: black !important;
    margin-top: 10px;
}

/*-----------------------INFO QUARTOS-------------------------*/


/*calendar */


/* final calendar */




/*icons-info*/


#icons-info {
    display: inline-block;
}



.wifi-icon {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 279px;
    top: 258px;
}

.wifi-text {
    position: absolute;
    width: 156px;
    height: 39px;
    left: 239px;
    top: 350px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

.food-icon {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 483px;
    top: 262px;
}


.food-text {
    position: absolute;
    width: 156px;
    height: 39px;
    left: 446px;
    top: 350px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}


.servicos-icon {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 677px;
    top: 258px;
}


.servicos-text {
    position: absolute;
    width: 156px;
    height: 18px;
    left: 642px;
    top: 352px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

.peso-icon {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 874px;
    top: 280px;
}

.peso-text {
    position: absolute;
    width: 156px;
    height: 39px;
    left: 839px;
    top: 352px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

.pata-icon {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 1080px;
    top: 258px;
}

.pata-text {
    position: absolute;
    width: 156px;
    height: 39px;
    left: 1045px;
    top: 352px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}






/* final icons-info*/
/*texto após os icons*/
#texto-imagem {
    margin: 191px 249px 0px 279px;
    border-bottom: 1px solid #101010;
    margin-bottom: 2em;
}


.main-title {
    text-align: center;
    border-bottom: 1px solid #101010;
    margin-bottom: 2em;
}

.info-h3 {
    margin: 0em 0em 1em 0em;
}

.text-beforeh3 {
    margin: 0em 0em 3em 0em;
}

.title-list {
    margin: 0em 0em 1em 0em;
}

.list-info {
    margin: 0em 0em 1em 0em;
}


/* final de texto após os icon*/

/*Texto spoiler info*/

#spoiler {
    margin: 330px 0px 5px 125px;
}
#spoiler1 {
    
}

#spoiler button {
    margin: 25px 42px 0px 396px;
}




/* Final Texto spoiler info*/



/* pacotes cards */



.espacamento-pacotes {
    margin: 0em 0em 2em 0em;
}

#Pacotes-info h2 {
    height: 40px;
}

.flip-container {
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.flipper {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
    /* se quiser uma animação na vertical,
	troque por rotateX(180deg)
	*/
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    border: groove;
}

.back {
    transform: rotateY(180deg);
    border: groove;
    height: 150%;
}




#Pacotes-info {
    margin-top: 30px;
    margin-bottom: 30px;
}

    #Pacotes-info h1 {
        font-size: 23px;
        line-height: 62px;
        text-align: center;
        margin-bottom: 3em;
        text-decoration: underline;
        width: 296px;
        height: 9px;
        left: 208px;
        top: 1389px;
        background: rgba(48, 53, 53, 0.74);
        color: rgb(38, 37, 39);
    }

    #Pacotes-info h6 {
        height: 1em;
        margin-left: 1em;
    }

    #Pacotes-info h3 {
        margin: 0em 0em 0em 8em;
        color: #646464;
    }

    #Pacotes-info h5 {
        font-size: 10px;
        float: right;
    }

    #Pacotes-info h4 {
        font-size: 15px;
    }

    #Pacotes-info p {
        font-size: 10px;
    }







#Pacotes-info2 {
    margin: 190px 0px 55px 0px;
    height: 304px;
}




    #Pacotes-info2 h1 {
        font-size: 23px;
        line-height: 62px;
        text-align: center;
        margin-bottom: 3em;
        text-decoration: underline;
        width: 296px;
        height: 9px;
        left: 208px;
        top: 1389px;
        background: rgba(48, 53, 53, 0.74);
        color: rgb(38, 37, 39);
    }


    #Pacotes-info2 h6 {
        height: 1em;
        margin-left: 1em;
    }

    #Pacotes-info2 h3 {
        margin: 0em 0em 0em 8em;
        color: #646464;
    }

    #Pacotes-info2 h5 {
        font-size: 10px;
        float: right;
    }

    #Pacotes-info2 h4 {
        font-size: 15px;
    }

    #Pacotes-info2 p {
        font-size: 10px;
    }

.list-card {
    font-size: 10px;
}

#Pacotes-info a {
    margin: 1em 1em 1em 6em;
}

#Pacotes-info2 a {
    margin: 1em 1em 1em 6em;
}










/* final pacotes cards*/




/*-----------------------FINAL DE INFO QUARTOS-------------------------*/


/*-----------------------INICIO DE VISUALIZA QUARTOS-------------------------*/

.areaQuarto {
    width: 100%;
    height: 100%;
    border: solid;
    border-color: lightgrey;
    border-width: thin;
    padding: 35px 35px 0px 35px;
}

.img-room {
    width: 100%;
    height: 100%;
}

.lista ::marker {
    font-size: 15px;
}

/*-----------------------FIM DE VISUALIZA QUARTOS----------------------------*/


/*************Contato***************/

#contato i {
    color: var(--second-color);
}


/***********Logins e criação de conta**********/

.section-log {
    background-color: #EDEDED;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .section-log .top-logo {
        background-color: var(--second-color);
        padding: 14px 5px 5px 5px;
        width: 105px;
        height: 60px;
    }

    .section-log .user-log {
        background-color: white;
        /*padding: 50px 30px 0 30px;*/
        border-top: 5px solid var(--second-color);
        width: 400px;
    }

        .section-log .user-log .form-log {
            margin: 50px;
        }

            .section-log .user-log .form-log input-container {
                position: relative;
                direction: ltr;
                background-color: transparent;
            }

            .section-log .user-log .form-log input {
                width: 90%;
                height: 40px;
                padding-left: 0 !important;
            }

        .section-log .user-log .icons-log {
            position: absolute;
            right: -4px;
            background-color: var(--second-color);
            height: 40px;
            width: 50px;
            display: flex;
            top: 28px;
            align-items: center;
            justify-content: center;
        }

            .section-log .user-log .icons-log i {
                font-size: 22px;
                color: white;
            }


/*Sobre*/

#imagem-video {
    background-image: url('../images/video.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imagem-video .icone-video i{
    color: var(--second-color);
    font-size: 60px;
}

.flip-card {
    background-color: transparent;
    /*width: 300px;*/
    height: 400px;
/*    border: 1px solid #f1f1f1;*/
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card:hover {
    /*width: 300px;*/
    height: 400px;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;    
    background-size: cover;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}