<section style="margin-top: 50px">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div id="perfil">
                    <div class="card" style="width: 18rem;">
                        <img src="~/assets/images/perfil.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">pessoa@exemple.com.br</p>
                            <p class="card-text">(00) 00000-0000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="text-center">Modificar Dados</p>
                <form>
                    <div class="row">
                        <div class="col-12">
                            <label for="nome">Nome de Usuário:</label>
                            <input class="w-100" type="text" id="nome" placeholder="Nome"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="prof">Profissão:</label>
                            <input class="w-100" type="text" id="prof" />
                        </div>
                        <div class="col-6">
                            <label for="email">E-mail:</label>
                            <input class="w-100" type="text" id="email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="tell">Telefone:</label>
                            <input class="w-100" type="text" id="tell" />
                        </div>
                        <div class="col-6">
                            <label for="cell">Celular:</label>
                            <input class="w-100" type="text" id="cell" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="cep">CEP:</label>
                            <input class="w-100" type="text" id="cep" />
                        </div>
                        <div class="col-6">
                            <label for="city">Cidade:</label>
                            <input class="w-100" type="text" id="city" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="endereco">Endereço:</label>
                            <input class="w-100" type="text" id="endereco" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <label for="num">Número:</label>
                                    <input class="w-100" type="text" id="num" />
                                </div>
                                <div class="col-6">
                                    <label for="uf">UF:</label>
                                    <input class="w-100" type="text" id="uf" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="Nsenha">Nova senha:</label>
                            <input class="w-100" type="text" id="Nsenha" />
                        </div>
                        <div class="col-6">
                            <label for="CNsenha">Confirmar nova senha:</label>
                            <input class="w-100" type="text" id="CNsenha" />
                        </div>
                    </div>
                    <div class="row"  style="margin-top: 50px">
                        <div class="col-6">
                            <button>Cancelar alterações</button>
                        </div>
                        <div class="col-6">
                            <button>Salvar alterações</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>