<section style="margin-top: 50px">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <partial name="_CardPerfil" />

            </div>
            <div class="col-md-8">
                <p class="text-center background-light-pink">Modificar Dados</p>
                <form class="formulario">

                    <div class="row">
                        <div class="col-12">
                            <label for="nome">Nome de Usuário:</label>
                            <input class="w-100" type="text" id="nome" placeholder="Nome" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="prof">Profissão:</label>
                            <input class="w-100" type="text" id="prof" placeholder="Autônomo..." />
                        </div>
                        <div class="col-6">
                            <label for="email">E-mail:</label>
                            <input class="w-100" type="text" id="email" placeholder="pessoa@example.com.br" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="tell">Telefone:</label>
                            <input class="w-100" type="text" id="tell" placeholder="(00)00000-0000" />
                        </div>
                        <div class="col-6">
                            <label for="cell">Celular:</label>
                            <input class="w-100" type="text" id="cell" placeholder="(00)00000-0000" />
                        </div>
                    </div>

                    <div class="row" style="margin-top: 50px">
                        <div class="col-6">
                            <label for="cep">CEP:</label>
                            <input class="w-100" type="text" id="cep" />
                        </div>
                        <div class="col-6">
                            <label for="city">Cidade:</label>
                            <input class="w-100" type="text" id="city" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="endereco">Endereço:</label>
                            <input class="w-100" type="text" id="endereco" placeholder="Endereço" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <label for="num" style="display: block">Número:</label>
                                    <input class="w-100" type="text" id="num" />
                                </div>
                                <div class="col-6">
                                    <label for="uf" style="display: block">UF:</label>
                                    <input class="w-100" type="text" id="uf" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 50px">
                        <div class="col-6">
                            <label for="Nsenha">Nova senha:</label>
                            <input class="w-100" type="text" id="Nsenha" />
                        </div>
                        <div class="col-6">
                            <label for="CNsenha">Confirmar nova senha:</label>
                            <input class="w-100" type="text" id="CNsenha" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 50px">
                        <div class="col-6">
                            <a class="btn background-light-pink botaos">Cancelar alterações</a>
                        </div>
                        <div class="col-6">
                            <a class="btn background-light-pink botaos" style="float: right">Salvar alterações</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>