@model List<PIM.Site.Models.CheckViewModel>

<section id="Check-area" style="background-color: #4B5B5B">
    <div class="container">
        <div class="row text-black-50">

            @foreach(var item in Model)
            {
                <div class="col-md-3">
                    <div class="check-body">
                        <p>
                            <h5>@item.Titulo</h5>
                            <i class="far @item.Icone"></i>
                            <input id="date" type="date">
                        </p>
                    </div>
                </div>
            }
          
            <div class="col-md-4">
                <div class="check-body">
                    <p>
                        <h5>Hospedes</h5>
                        <h6><i class="far fa-calendar-alt"></i>  1 Quarto, 2 Adultos, 0 Crianças</h6>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
